Repository dyninst/dyninst, pull requests merged in 2019-05, with the labels that each got.

#578 Boost cleanup
  CMakeLists.txt
  cmake/Boost.cmake
  cmake/Modules/FindBoost.cmake
  cmake/packages.cmake
  cmake/shared.cmake
Labels: Testsuite, bug, enhancement, v10.1-release

#591 Elfutils cleanup
  CMakeLists.txt
  README.md
  cmake/ElfUtils.cmake
  cmake/Modules/DyninstSystemPaths.cmake
  cmake/Modules/FindLibDwarf.cmake
  cmake/Modules/FindLibElf.cmake
  cmake/packages.cmake
  dwarf/CMakeLists.txt
  elf/CMakeLists.txt
  symtabAPI/CMakeLists.txt
Labels: Testsuite, bug, enhancement, v10.1-release

#570 Fixing TBB dependencies during build.
  CMakeLists.txt
  common/CMakeLists.txt
  dyninstAPI_RT/CMakeLists.txt
  elf/CMakeLists.txt
  examples/CMakeLists.txt
Labels: enhancement, v10.1-release

#556 Support parsing cubin in dyninst-10.0
  parseAPI/h/CFG.h
  parseAPI/h/CodeObject.h
  parseAPI/src/Block.C
  parseAPI/src/CFGFactory.C
  parseAPI/src/CodeObject.C
  parseAPI/src/ParseData.C
  parseAPI/src/Parser.C
Labels: enhancement, v10.1-release

#571 Fix compilation of thread_db_process
  proccontrol/src/int_thread_db.C
  proccontrol/src/int_thread_db.h
Labels: enhancement, v10.1-release

#575 Add initial support for decoding AMD FMA4 and XOP instructions
  common/h/entryIDs.h
  common/src/arch-x86.C
  common/src/arch-x86.h
  instructionAPI/src/InstructionDecoder-x86.C
Labels: enhancement, v10.1-release

#597 Update README to reflect new build system
  README.md
Labels: bug, v10.1-release

#576 Remove assertions for jump table analysis
  common/src/dyn_regs.C
  dataflowAPI/src/ExpressionConversionVisitor.C
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/SymEval.C
Labels: v10.1-release

#593 Fix BPatch_effectiveAddress on ppc where only low 32-bit address is extracted
  dyninstAPI/src/inst-power.C
Labels: PowerPC Issues, bug, v10.1-release

#594 ARM effective address calculation
  common/h/dyn_regs.h
  dyninstAPI/src/BPatch_memoryAccessAdapter.C
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/registerSpace.C
Labels: enhancement, v10.1-release

#598 Bump minimum CMake version to 3.4.0
  CMakeLists.txt
Labels: Testsuite, v10.1-release

#592 More fixes for parallel parsing, spring boards, and ARM
  dataflowAPI/src/slicing.C
  dyninstAPI/CMakeLists.txt
  dyninstAPI/src/Relocation/CFG/RelocBlock.C
  dyninstAPI/src/Relocation/CodeMover.C
  dyninstAPI/src/Relocation/Springboard.C
  dyninstAPI/src/Relocation/Springboard.h
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.C
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.h
  dyninstAPI/src/Relocation/Transformers/Transformer.h
  dyninstAPI/src/Relocation/Widgets/PCWidget-aarch64.C
  dyninstAPI/src/Relocation/Widgets/PCWidget-ppc.C
  dyninstAPI/src/Relocation/Widgets/PCWidget-x86.C
  dyninstAPI/src/Relocation/Widgets/PCWidget.C
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/mapped_module.C
  parseAPI/h/CFG.h
  parseAPI/src/Block.C
  parseAPI/src/Function.C
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_power.C
  parseAPI/src/IA_x86.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/Parser.C
  parseAPI/src/Parser.h
  proccontrol/src/linux.C
  symtabAPI/src/Symbol.C
  symtabAPI/src/emitElf.C
Labels: bug, v10.1-release

#564 Fix bad interactions between patchAPI and parseAPI
  dyninstAPI/h/BPatch_snippet.h
  dyninstAPI/src/BPatch_snippet.C
  dyninstAPI/src/ast.C
  dyninstAPI/src/ast.h
  parseAPI/src/CFGModifier.C
Labels: bug, v10.1-release

#600 Compilation fix for boost 1.70
  proccontrol/h/Event.h
  proccontrol/h/PCProcess.h
  proccontrol/h/ProcessSet.h
  proccontrol/src/irpc.h
  proccontrol/src/response.h
  proccontrol/src/windows_handler.h
Labels: v10.1-release

#596 Fix DwarfFrameParser, decodeDwarfExpression and DwarfResult
  dwarf/h/dwarfFrameParser.h
  dwarf/h/dwarfHandle.h
  dwarf/h/dwarfResult.h
  dwarf/src/dwarfExprParser.C
  dwarf/src/dwarfFrameParser.C
  dwarf/src/dwarfResult.C
  dyninstAPI/src/stackwalk-aarch64.C
  stackwalk/src/dbginfo-stepper.C
  stackwalk/src/linux-aarch64-swk.C
Labels: v10.1-release

#601 Update LibIberty to new build system
  CMakeLists.txt
  cmake/LibIberty.cmake
  cmake/Modules/FindLibIberty.cmake
  cmake/cap_arch_def.cmake
  cmake/options.cmake
  cmake/packages.cmake
  cmake/shared.cmake
Labels: bug, enhancement, v10.1-release

#595 TBB spack fixes
  cmake/Modules/FindTBB.cmake
  cmake/ThreadingBuildingBlocks.cmake
Labels: bug, v10.1-release

#599 Update version number to 10.1.0
  .github_changelog_generator
  CHANGELOG.md
  README.md
  cmake/Boost.cmake
  cmake/LibIberty.cmake
  cmake/Modules/FindLibIberty.cmake
  cmake/shared.cmake
  common/doc/manual_frontpage.tex
  dataflowAPI/doc/dataflowAPI.pdf
  dyninstAPI/doc/dyninstAPI.docx
  dyninstAPI/doc/dyninstAPI.pdf
  instructionAPI/doc/instructionAPI.pdf
  parseAPI/doc/parseAPI.pdf
  patchAPI/doc/Makefile.doc
  patchAPI/doc/patchAPI.pdf
  proccontrol/doc/proccontrol.docx
  proccontrol/doc/proccontrol.pdf
  symtabAPI/doc/symtabAPI.pdf
Labels: v10.1-release
