Repository dyninst/dyninst, pull requests merged in 2019-11, with the labels that each got.

#641 Add CMake configuration option to create a sterile build
  CMakeLists.txt
  cmake/Boost.cmake
  cmake/ElfUtils.cmake
  cmake/LibIberty.cmake
  cmake/ThreadingBuildingBlocks.cmake
Labels: Testsuite, enhancement, v10.2-release

#680 Add 'elfutils' subdirectory to library paths
  cmake/Modules/FindLibElf.cmake
Labels: bug

#678 Add explicit ElfUtils dependency for ParseThat and examples
  examples/CMakeLists.txt
  parseThat/CMakeLists.txt
Labels: bug, v10.2-release

#667 Implement the check of ThreadDB at BPatch level
  dyninstAPI/h/BPatch_process.h
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/dynProcess.h
Labels: Testsuite, bug

#653 Fix instrumentation regressions for libc-2.29 on ARM
  dataflowAPI/src/liveness.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/dynProcess.h
  dyninstAPI/src/emit-aarch64.C
  dyninstAPI/src/pcEventHandler.C
  dyninstAPI/src/pcEventHandler.h
  dyninstAPI_RT/h/dyninstAPI_RT.h
  dyninstAPI_RT/src/RTcommon.c
  dyninstAPI_RT/src/RTcommon.h
  dyninstAPI_RT/src/RTlinux.c
  dyninstAPI_RT/src/RTthread-aarch64.c
  proccontrol/src/linux.C
  stackwalk/src/linuxbsd-swk.C
Labels: ARMv8, Testsuite, bug

#681 Ignore additional Eclipse file and spurious .gitignore
  .gitignore
Labels: documentation, enhancement

#642 Implements parsing of dwarf variables with abstract origin attribute.
  symtabAPI/src/dwarfWalker.C
Labels: bug, v10.2-release

#643 Allows same range for different source lines.
  common/src/debug_common.C
  common/src/debug_common.h
  symtabAPI/h/RangeLookup.h
  symtabAPI/src/Object-elf.C
Labels: bug, v10.2-release

#670 Prevent corruption to rax during stack alignment on x86-64
  dyninstAPI/src/emit-x86.C
Labels: bug
