Repository dyninst/dyninst, pull requests merged in 2019-03, with the labels that each got.

#555 Add --enable-install-elfh when building elfutils from source
  cmake/packages.cmake
Labels: bug, v10.1-release

#558 Elfutil version check
  cmake/Modules/FindLibElf.cmake
Labels: bug, v10.1-release

#553 Fix tests in PIC mode
  dyninstAPI/src/BPatch_snippet.C
  dyninstAPI/src/Relocation/Widgets/CFWidget-ppc.C
  dyninstAPI/src/Relocation/Widgets/PCWidget.C
  dyninstAPI/src/dynProcess.h
  dyninstAPI/src/inst-power.C
  dyninstAPI/src/mapped_object.C
  dyninstAPI/src/pdwinnt.C
  dyninstAPI/src/unix.C
  dyninstAPI/src/vxworks.C
  symtabAPI/src/emitElfStatic-x86.C
Labels: Testsuite, v10.1-release

#549 Attempts to fix legacy test failures in Dyninst test suite
  dyninstAPI/h/BPatch_binaryEdit.h
  dyninstAPI/src/BPatch_binaryEdit.C
  proccontrol/src/int_thread_db.C
Labels: Testsuite, bug, v10.1-release

#562 Implement ARMv8 IMFC and Load/Store Shared
  dyninstAPI/src/inst-aarch64.C
Labels: ARMv8, v10.1-release

#572 A few fixes for parallel parsing
  dyninstAPI/src/Relocation/Springboard.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/Parser.C
Labels: Testsuite, bug, v10.1-release

#574 Convert ThreadDB error message to info message
  cmake/cap_arch_def.cmake
Labels: enhancement
