Repository dyninst/dyninst, pull requests merged in 2020-08, with the labels that each got.

#789 Cleanup memory handling when emitting Elf for static libraries
  symtabAPI/src/emitElf.h
  symtabAPI/src/emitElfStatic.C
Labels: Symtab, bug

#796 Clean up some includes
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/dynProcess.h
  dyninstAPI/src/function.h
  dyninstAPI/src/hybridCallbacks.C
  dyninstAPI/src/mapped_object.C
  dyninstAPI/src/pcEventHandler.C
Labels: code cleanup

#790 Add include for Elf_X in emitElf.h
  symtabAPI/src/emitElf.h
Labels: Symtab, enhancement

#791 Fix Region::buffer aliasing bug on copy
  symtabAPI/src/Region.C
Labels: Symtab, bug

#801 Remove usage of miniTramp class
  dyninstAPI/h/BPatch_addressSpace.h
  dyninstAPI/h/BPatch_binaryEdit.h
  dyninstAPI/h/BPatch_point.h
  dyninstAPI/h/BPatch_process.h
  dyninstAPI/src/BPatch_binaryEdit.C
  dyninstAPI/src/BPatch_templates.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/instP.h
  dyninstAPI/src/syscall-vxworks.C
Labels: code cleanup

#793 Fix memory leak in SymEval::expandInsn
  dataflowAPI/src/SymEval.C
Labels: bug, code cleanup, dataflowAPI

#817 Fix cmake configuration with -pie
  CMakeLists.txt
  dyninstAPI_RT/CMakeLists.txt
Labels: bug, build

#816 Remove cotire from the build system
  .gitignore
  cmake/Boost.cmake
  cmake/ElfUtils.cmake
  cmake/LibIberty.cmake
  cmake/ThreadingBuildingBlocks.cmake
  cmake/cotire.cmake
  cmake/options.cmake
  cmake/shared.cmake
  common/CMakeLists.txt
  dwarf/CMakeLists.txt
  dynC_API/CMakeLists.txt
  dyninstAPI/CMakeLists.txt
  elf/CMakeLists.txt
  instructionAPI/CMakeLists.txt
  parseAPI/CMakeLists.txt
  patchAPI/CMakeLists.txt
  proccontrol/CMakeLists.txt
  stackwalk/CMakeLists.txt
  symlite/CMakeLists.txt
  symtabAPI/CMakeLists.txt
Labels: build, code cleanup

#813 Make ~DynObject virtual
  dyninstAPI/src/Relocation/DynObject.h
Labels: bug, code cleanup

#826 Remove unused symtabAPI/doc/symtab-text.txt
  symtabAPI/doc/symtab-text.txt
Labels: Symtab, code cleanup, documentation

#827 Undeprecate mapped_object::getBaseAddress
  dyninstAPI/src/mapped_object.h
Labels: code cleanup

#828 Remove deprecated members of BPatch_flowGraph
  dyninstAPI/h/BPatch_flowGraph.h
Labels: BPatch, code cleanup

#829 Remove unused Doxygen files from instructionAPI
  instructionAPI/instructionAPI.conf
  instructionAPI/src/groups.C
Labels: code cleanup, documentation, instructionAPI

#705 Make Dyninst buildable with Clang
  common/h/concurrent.h
  common/h/dyntypes.h
  dyninstAPI/src/codegen.C
  dyninstAPI_RT/src/RTthread-power-asm.s
  dyninstAPI_RT/src/RTthread-powerpc-asm.S
Labels: bug, build
