Repository dyninst/dyninst, pull requests merged in 2020-10, with the labels that each got.

#871 Correctly destruct AddressSpace objects
  dyninstAPI/src/addressSpace.C
Labels: bug, code cleanup

#874 Add arch address for intel gen9 gpus
  common/src/dyn_regs.C
Labels: GPUs, bug

#878 Provide correct default constructor for parse_func class
  dyninstAPI/src/parse-cfg.h
Labels: bug, code cleanup

#876 cleanup memoryTracker memory handling
  dyninstAPI/src/binaryEdit.h
Labels: code cleanup

#880 Remove unused lineDict class
  dyninstAPI/src/image.h
Labels: code cleanup

#875 Add lookup by name in block_instance::callee
  dyninstAPI/src/block.h
  dyninstAPI/src/unix.C
Labels: bug, test suite

#882 Require standards-compliant c++11 ABI
  CMakeLists.txt
  cmake/DyninstConfig.cmake.in
  cmake/LanguageStandards.cmake
  common/h/util.h
Labels: build, code cleanup

#879 Fix memory leaks in BinaryEdit::openResolvedLibraryName
  dyninstAPI/src/unix.C
Labels: bug, code cleanup

#883 CodeSource destructor cleanup
  parseAPI/h/CodeSource.h
  parseAPI/h/SymLiteCodeSource.h
  parseAPI/src/CodeSource.C
  parseAPI/src/SymLiteCodeSource.C
  parseAPI/src/SymtabCodeSource.C
Labels: bug, code cleanup

#884 clean up BoundFactCalculator constructor
  parseAPI/src/BoundFactCalculator.h
Labels: code cleanup

#886 Ensure data is copied in memoryTracker::realloc
  dyninstAPI/src/binaryEdit.h
Labels: bug

#890 Remove references to old InstrucIter class
  dyninstAPI/h/BPatch_basicBlock.h
  dyninstAPI/h/BPatch_function.h
  dyninstAPI/h/BPatch_instruction.h
  dyninstAPI/h/BPatch_memoryAccess_NP.h
  dyninstAPI/h/BPatch_module.h
  dyninstAPI/h/BPatch_parRegion.h
  dyninstAPI/h/BPatch_point.h
  dyninstAPI/src/BPatch_flowGraph.C
  dyninstAPI/src/BPatch_point.C
  dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.C
  dyninstAPI/src/parse-aarch64.C
  dyninstAPI/src/parse-power.C
  parseAPI/src/IA_InstrucIter.C
  parseAPI/src/IA_InstrucIter.h
Labels: code cleanup, instructionAPI

#891 code cleanup integer funcs to * and / by constants
  common/src/linuxKludges.C
  common/src/linuxKludges.h
Labels: code cleanup

#895 Fix memory leaks in emitElf
  symtabAPI/src/emitElf.C
  symtabAPI/src/emitElf.h
Labels: Symtab, bug, code cleanup

#901 Correctly set up libiberty to be consumed by build system
  CMakeLists.txt
  cmake/LibIberty.cmake
  cmake/Modules/FindLibIberty.cmake
  common/CMakeLists.txt
Labels: bug, build
