Repository dyninst/dyninst, pull requests merged in 2020-06, with the labels that each got.

#758 Memory leak fixes
  common/src/linuxKludges.C
  dyninstAPI/src/parse-cfg.h
  dyninstAPI/src/unix.C
  parseAPI/h/CFG.h
  parseAPI/h/CFGFactory.h
  parseAPI/src/Block.C
  parseAPI/src/BoundFactData.C
  parseAPI/src/CFGFactory.C
  parseAPI/src/CFGModifier.C
  parseAPI/src/IndirectAnalyzer.C
  symtabAPI/h/Type.h
  symtabAPI/src/Type-mem.h
  symtabAPI/src/Type.C
Labels: bug

#748 Expand the list of non-returning functions in CodeSource.C.
  parseAPI/src/CodeSource.C
  parseAPI/src/noreturn.pl
Labels: enhancement

#757 remove unnecessary assertion for unknown phdr_type
  symtabAPI/src/emitElf.C
Labels: Symtab, bug, code cleanup

#772 Improve logging in PCEventHandler::handleThreadCreate
  dyninstAPI/src/pcEventHandler.C
Labels: enhancement
