Repository dyninst/dyninst, pull requests merged in 2020-11, with the labels that each got.

#912 Add note about minimum elfutils version
  cmake/ElfUtils.cmake
Labels: build, documentation

#917 Improve single thread's backward slicing speed by 40%
  dataflowAPI/h/Absloc.h
  dataflowAPI/h/AbslocInterface.h
  dataflowAPI/h/slicing.h
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/slicing.C
Labels: enhancement, instructionAPI

#920 API-breaking changes for 11.0 release
  common/h/Annotatable.h
  common/h/Serialization.h
  common/src/Annotatable.C
  common/src/serialize-bin.C
  common/src/serialize-xml.C
  common/src/serialize.h
  dyninstAPI/h/BPatch_addressSpace.h
  dyninstAPI/h/BPatch_process.h
  dyninstAPI/h/BPatch_snippet.h
  dyninstAPI/src/BPatch_addressSpace.C
  dyninstAPI/src/BPatch_frame.C
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/BPatch_snippet.C
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/addressSpace.h
  dyninstAPI/src/binaryEdit.C
  dyninstAPI/src/binaryEdit.h
  dyninstAPI/src/codegen-aarch64.C
  dyninstAPI/src/codegen-power.C
  dyninstAPI/src/codegen-x86.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/dynProcess.h
  parseAPI/h/CFGFactory.h
  parseAPI/src/CFGFactory.C
  patchAPI/h/Command.h
  patchAPI/test/findPoint/Makefile
  symtabAPI/h/Aggregate.h
  symtabAPI/h/Collections.h
  symtabAPI/h/Function.h
  symtabAPI/h/LineInformation.h
  symtabAPI/h/Module.h
  symtabAPI/h/Region.h
  symtabAPI/h/Symbol.h
  symtabAPI/h/Symtab.h
  symtabAPI/h/Type.h
  symtabAPI/h/Variable.h
  symtabAPI/src/Aggregate.C
  symtabAPI/src/Collections.C
  symtabAPI/src/LineInformation.C
  symtabAPI/src/Module.C
  symtabAPI/src/Object.C
  symtabAPI/src/Region.C
  symtabAPI/src/Symbol.C
  symtabAPI/src/Symtab-deprecated.C
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/Type.C
  symtabAPI/src/Variable.C
  symtabAPI/src/annotations.C
  symtabAPI/src/annotations.h
  symtabAPI/src/relocationEntry-elf-aarch64.C
  symtabAPI/src/relocationEntry-elf-ppc32.C
  symtabAPI/src/relocationEntry-elf-ppc64.C
  symtabAPI/src/relocationEntry-elf-x86.C
Labels: API-BREAKER, code cleanup

#922 Make libiberty detection more flexible
  cmake/Modules/FindLibIberty.cmake
  common/src/symbolDemangle.c
Labels: build, enhancement

#900 Add initial support for analyzing AMDGPU binaries
  common/h/amdgpu_op_table.h
  common/h/amdgpu_vega_sys_regs.h
  common/h/dyn_regs.h
  common/h/entryIDs.h
  common/src/dyn_regs.C
  dataflowAPI/rose/conversions.h
  dataflowAPI/rose/semantics/Registers.C
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/ExpressionConversionVisitor.C
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/RoseInsnFactory.h
  dataflowAPI/src/SymEval.C
  dataflowAPI/src/SymbolicExpansion.C
  dataflowAPI/src/SymbolicExpansion.h
  dataflowAPI/src/convertOpcodes.C
  dwarf/src/dwarfHandle.C
  elf/src/Elf_X.C
  external/rose/amdgpuInstructionEnum.h
  external/rose/rose-compat.h
  instructionAPI/CMakeLists.txt
  instructionAPI/h/ArchSpecificFormatters.h
  instructionAPI/h/BinaryFunction.h
  instructionAPI/h/Instruction.h
  instructionAPI/h/InstructionCategories.h
  instructionAPI/h/Operation_impl.h
  instructionAPI/h/Ternary.h
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Expression.C
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionCategories.C
  instructionAPI/src/InstructionDecoder-amdgpu-vega.C
  instructionAPI/src/InstructionDecoder-amdgpu-vega.h
  instructionAPI/src/InstructionDecoderImpl.C
  instructionAPI/src/InstructionDecoderImpl.h
  instructionAPI/src/Register.C
  instructionAPI/src/Ternary.C
  instructionAPI/src/amdgpu_branchinsn_table.h
  instructionAPI/src/amdgpu_decoder_impl_vega.C
  instructionAPI/src/amdgpu_decoder_impl_vega.h
  instructionAPI/src/amdgpu_insn_entry.h
  instructionAPI/src/amdgpu_opcode_tables.C
  parseAPI/CMakeLists.txt
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_amdgpu.h
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/Parser.C
  parseAPI/src/SymbolicExpression.C
  proccontrol/src/process.C
Labels: GPUs, ongoing
