Repository dyninst/dyninst, pull requests merged in 2020-03, with the labels that each got.

#698 PIE/PIC aarch64 rewrite implementation
  dyninstAPI/src/Relocation/Widgets/PCWidget-aarch64.C
  dyninstAPI/src/codegen-aarch64.h
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/parse-aarch64.C
  symtabAPI/h/Region.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/emitElf.C
  symtabAPI/src/emitElf.h
  symtabAPI/src/emitElfStatic-aarch64.C
Labels: ARMv8

#706 Remove undefined behavior from Symtab::Type
  symtabAPI/h/Type.h
  symtabAPI/src/Type.C
Labels: abi, bug, build

#704 Do not use non-trivial types in varargs
  symtabAPI/src/dwarfWalker.C
Labels: bug, build
