Repository dyninst/dyninst, pull requests merged in 2020-12, with the labels that each got.

#927 Make assert expressions side effect free
  parseAPI/src/Parser.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object.C
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab.C
Labels: bug, code cleanup

#928 Fix a bug in MachRegister::name function
  common/src/dyn_regs.C
Labels: GPUs, bug, instructionAPI

#931 Add direct tail call case for getCallee
  patchAPI/src/Point.C
Labels: enhancement

#932 Require gcc >= 6.0
  cmake/LanguageStandards.cmake
Labels: abi, build

#936 make Symbol methods const
  symtabAPI/h/Symbol.h
  symtabAPI/src/Symbol.C
Labels: API-BREAKER

#939 Fix wrong return value in DwarfHandle::init_dbg
  dwarf/src/dwarfHandle.C
Labels: DWARF, GPUs
