Repository dyninst/dyninst, pull requests merged in 2020-07, with the labels that each got.

#776 Elf ex numbering
  elf/h/Elf_X.h
  elf/src/Elf_X.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
Labels: Symtab, bug

#742 proccontrol: Handle "ghost" threads
  proccontrol/src/handler.C
  proccontrol/src/int_process.h
  proccontrol/src/int_thread_db.C
  proccontrol/src/linux.C
  proccontrol/src/linux.h
  proccontrol/src/process.C
Labels: bug, test suite, v10.2-release

#780 Fix proccontrol hangs in test_thread_X
  dyninstAPI/src/pcEventMuxer.C
  dyninstAPI/src/pcEventMuxer.h
Labels: bug, test suite

#779 Remove Aggregate::setModule declaration
  symtabAPI/h/Aggregate.h
Labels: code cleanup

#784 Improve detection of ghost threads
  proccontrol/src/int_process.h
  proccontrol/src/linux.C
  proccontrol/src/linux.h
  proccontrol/src/process.C
Labels: bug

#783 Updates for #780
  dyninstAPI/src/pcEventMuxer.C
  proccontrol/src/linux.C
  proccontrol/src/process.C
Labels: bug, code cleanup
