Repository dyninst/dyninst, pull requests merged in 2020-09, with the labels that each got.

#835 Fix memory leak in singleton_object_pool
  common/src/singleton_object_pool.h
  instructionAPI/src/InstructionDecoder-aarch64.C
  instructionAPI/src/InstructionDecoder-aarch64.h
  instructionAPI/src/InstructionDecoder-power.C
  instructionAPI/src/InstructionDecoder-power.h
  instructionAPI/src/InstructionDecoderImpl.C
  instructionAPI/src/InstructionDecoderImpl.h
Labels: bug, dataflowAPI, instructionAPI

#841 Remove exception specifications
  common/h/dyntypes.h
  common/h/util.h
  dataflowAPI/rose/semantics/MemoryMap.h
  dataflowAPI/rose/util/Exception.h
Labels: API-BREAKER, code cleanup

#851 Update InsnCategory values returned from Instruction::getCategory
  instructionAPI/doc/API/Instruction.tex
  instructionAPI/doc/instructionAPI.pdf
  instructionAPI/h/Instruction.h
Labels: documentation, instructionAPI

#849 Remove vestiges of AIX
  common/src/arch-power.h
  dynC_API/src/dynC.tab.C
  dyninstAPI/src/dynProcess.h
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  dyninstAPI/src/infHeap.h
  dyninstAPI/src/inst-aarch64.h
  dyninstAPI/src/inst-power.C
  dyninstAPI/src/mapped_object.C
  symtabAPI/doc/9-Dynamic.tex
  symtabAPI/doc/symtabAPI.pdf
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
  symtabAPI/src/parseStab.C
Labels: code cleanup

#850 Remove vestiges of sparc
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/registerSpace.h
  symtabAPI/src/Object-elf.C
Labels: code cleanup

#855 Some necessary changes for overlapping text regions
  parseAPI/h/CFG.h
  parseAPI/src/SymtabCodeSource.C
Labels: enhancement, parseAPI

#844 Replace BPatch_vector internal implementation with std::vector
  dyninstAPI/h/BPatch_Vector.h
  dyninstAPI/h/BPatch_frame.h
  dyninstAPI/src/BPatch_point.C
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/BPatch_templates.C
Labels: BPatch, code cleanup

#858 parseThat: remove autotools build files
  parseThat/Makefile.in
  parseThat/README.md
  parseThat/config.guess
  parseThat/config.sub
  parseThat/configure
  parseThat/configure.ac
  parseThat/install-sh
Labels: build, code cleanup

#857 Remove vectorSet
  common/src/vectorSet.C
  common/src/vectorSet.h
Labels: code cleanup

#859 Remove vxworks support
  common/h/dyntypes.h
  common/src/MappedFile.C
  common/src/Types.h
  common/src/arch-aarch64.C
  common/src/arch-power.C
  common/src/arch-power.h
  common/src/arch-x86.C
  common/src/headers.h
  common/src/vxworksHeaders.h
  common/src/wtxKludges.C
  common/src/wtxKludges.h
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/codegen-aarch64.C
  dyninstAPI/src/codegen-power.C
  dyninstAPI/src/codegen-x86.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/image.C
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/inst-aarch64.h
  dyninstAPI/src/inst-power.C
  dyninstAPI/src/inst-power.h
  dyninstAPI/src/inst-x86.C
  dyninstAPI/src/os.h
  dyninstAPI/src/parse-cfg.C
  dyninstAPI/src/syscall-vxworks.C
  dyninstAPI/src/vxworks.C
  dyninstAPI/src/vxworks.h
  dyninstAPI_RT/src/RTheap.h
  dyninstAPI_RT/src/RTposix.c
  dyninstAPI_RT/src/RTvxworks.c
  elf/src/Elf_X.C
  parseAPI/src/IA_IAPI.C
  parseAPI/src/SymtabCodeSource.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
  symtabAPI/src/SymtabReader.C
Labels: code cleanup

#861 Cleanup dyn_hash_{set,map}
  common/h/dyntypes.h
  common/h/entryIDs.h
  instructionAPI/h/RegisterIDs.h
Labels: code cleanup

#862 Fix undefined behavior in usage of std::transform
  dyninstAPI/src/mapped_object.C
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Register.C
Labels: bug, code cleanup

#860 Require c++11 thread_local support
  common/h/dyntypes.h
  common/h/util.h
  common/src/arch-x86.C
Labels: code cleanup

#865 Nvidia GPU slicing and support for opening Intel GPU binaries
  common/h/dyn_regs.h
  common/h/entryIDs.h
  common/src/dyn_regs.C
  dataflowAPI/h/Absloc.h
  dataflowAPI/h/AbslocInterface.h
  dataflowAPI/h/slicing.h
  dataflowAPI/src/Absloc.C
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/slicing.C
  dwarf/src/dwarfHandle.C
  elf/h/Elf_X.h
  elf/src/Elf_X.C
  instructionAPI/h/Instruction.h
  instructionAPI/h/Operand.h
  instructionAPI/src/Instruction.C
  instructionAPI/src/Operand.C
  parseAPI/src/JumpTableFormatPred.h
  parseAPI/src/JumpTableIndexPred.h
Labels: dataflowAPI, enhancement, instructionAPI

#868 Remove include cycle in dyntypes.h
  common/h/Buffer.h
  common/h/DynAST.h
  common/h/SymReader.h
  common/h/dyntypes.h
  common/h/entryIDs.h
  common/src/arch-power.C
  common/src/arch-power.h
  common/src/util.C
  dyninstAPI/src/codegen.h
  symtabAPI/h/symutil.h
Labels: code cleanup

#870 Update documentation for ParseAPI::CodeObject::CodeObject
  parseAPI/doc/API/CodeObject.tex
  parseAPI/doc/parseAPI.pdf
  parseAPI/src/CodeObject.C
Labels: bug, documentation
