Repository dyninst/dyninst, pull requests merged in 2021-11, with the labels that each got.

#1127 Only consider register number when calculating used aarch64 float reg…
  dyninstAPI/src/inst-aarch64.C
Labels: bug, ARMv8

#1137 Remove support for Cray CNL
  cmake/cap_arch_def.cmake
  common/CMakeLists.txt
  proccontrol/CMakeLists.txt
  symtabAPI/CMakeLists.txt
Labels: build, code cleanup

#1136 Unify meaning of 'cap_32_64' macro
  cmake/cap_arch_def.cmake
  dataflowAPI/src/ABI.C
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/inst-x86.C
Labels: build, code cleanup

#1139 Implement ppc64 in MachRegister::getROSERegister
  common/src/dyn_regs.C
Labels: enhancement, PowerPC, instructionAPI

#1143 fix statement-like macros
  dwarf/src/dwarfResult.C
  dyninstAPI/src/ast.C
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup

#1145 Remove ppc32 from builds
  cmake/cap_arch_def.cmake
  cmake/platform_unix.cmake
  common/src/util.C
  dyninstAPI/src/Parsing.C
  dyninstAPI/src/image.C
  dyninstAPI_RT/CMakeLists.txt
  dyninstAPI_RT/src/RTlinux.c
  dyninstAPI_RT/src/RTstatic_ctors_dtors-ppc32.c
  dyninstAPI_RT/src/RTthread-powerpc-asm.S
  parseThat/.gitignore
  scripts/dynsysname
  symtabAPI/CMakeLists.txt
  symtabAPI/src/Object-elf.C
  symtabAPI/src/emitElfStatic-ppc32.C
  symtabAPI/src/relocationEntry-elf-ppc32.C
  syscalls/README
  syscalls/unistd-by-platform/Linux/Arch_ppc32/unistd.h.20130604
Labels: build, PowerPC, code cleanup, API-BREAKER

#1146 Remove memory emulation
  cmake/cap_arch_def.cmake
  dyninstAPI/CMakeLists.txt
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/MemoryEmulator/memEmulator.C
  dyninstAPI/src/MemoryEmulator/memEmulator.h
  dyninstAPI/src/MemoryEmulator/memEmulatorStub.h
  dyninstAPI/src/MemoryEmulator/memEmulatorTransformer.C
  dyninstAPI/src/MemoryEmulator/memEmulatorTransformer.h
  dyninstAPI/src/MemoryEmulator/memEmulatorWidget.C
  dyninstAPI/src/MemoryEmulator/memEmulatorWidget.h
  dyninstAPI/src/Relocation/Transformers/Movement-adhoc.h
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.h
  dyninstAPI/src/Relocation/Widgets/CFWidget-aarch64.C
  dyninstAPI/src/Relocation/Widgets/CFWidget-ppc.C
  dyninstAPI/src/Relocation/Widgets/CFWidget-x86.C
  dyninstAPI/src/Relocation/Widgets/CFWidget.C
  dyninstAPI/src/Relocation/Widgets/CFWidget.h
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/addressSpace.h
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/function.C
  dyninstAPI/src/hybridCallbacks.C
  dyninstAPI/src/hybridInstrumentation.C
  dyninstAPI/src/hybridOverwrites.C
  dyninstAPI/src/mapped_object.C
  dyninstAPI/src/pcEventHandler.C
  dyninstAPI/src/pdwinnt.C
  dyninstAPI_RT/CMakeLists.txt
  dyninstAPI_RT/h/dyninstAPI_RT.h
  dyninstAPI_RT/src/RTcommon.c
  dyninstAPI_RT/src/RTmemEmulator.c
  parseAPI/src/StackTamperVisitor.h
Labels: ABI-BREAKER, API-BREAKER

#1149 Remove AddressSpace::causeTemplateInstantiations
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/addressSpace.h
Labels: ABI-BREAKER, code cleanup

#1147 Improve docs for lookup functions in CodeObject
  parseAPI/doc/API/CodeObject.tex
Labels: documentation, parseAPI

#1153 Add conflict with CMake 3.19.0
  CMakeLists.txt
Labels: build

#1154 DwarfWalker: clean up interfaces for findDieName and findName
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: Symtab, DWARF

#1157 Add readable name for Symtab::typeRef
  symtabAPI/src/dwarfWalker.C
Labels: enhancement, Symtab, DWARF

#1160 Refactor dwarfWalker::findValue
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, DWARF

#1161 Increase minimum elfutils version to 0.186
  cmake/ElfUtils.cmake
Labels: build

#1162 Remove NVIDIA external line map configure check
  cmake/ElfUtils.cmake
  cmake/options.cmake
  symtabAPI/CMakeLists.txt
  symtabAPI/src/Object-elf.C
Labels: build, Symtab, DWARF

#877 Clean up memoryTracker usage in binaryEdit
  dyninstAPI/src/binaryEdit.C
  dyninstAPI/src/binaryEdit.h
  dyninstAPI/src/codeRange.h
Labels: bug, code cleanup
