Repository dyninst/dyninst, pull requests merged in 2021-02, with the labels that each got.

#736 Add debuginfod support
  cmake/ElfUtils.cmake
  cmake/Modules/FindLibDebuginfod.cmake
  cmake/options.cmake
  elf/CMakeLists.txt
  elf/src/Elf_X.C
Labels: enhancement

#961 Remove unused 'name' parameter from Collections::addGlobalVariable
  symtabAPI/h/Collections.h
  symtabAPI/src/Collections.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-nt.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/parseStab.C
Labels: API-BREAKER, Symtab, code cleanup

#962 Remove unused parameter 'elf' from Object::parse_all_relocations
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
Labels: DWARF, Symtab, code cleanup

#956 Fix -Wreturn-type warning
  parseAPI/src/IA_aarch64.C
Labels: code cleanup, parseAPI

#957 Remove BoundsFactCalculator::ThunkBound
  parseAPI/src/BoundFactCalculator.C
  parseAPI/src/BoundFactCalculator.h
Labels: code cleanup, parseAPI

#950 add missing libiberty include dir
  common/CMakeLists.txt
Labels: build, user-reported

#958 Remove BoundFactCalculator::CheckZeroExtend
  parseAPI/src/BoundFactCalculator.C
  parseAPI/src/BoundFactData.C
  parseAPI/src/BoundFactData.h
Labels: code cleanup, parseAPI

#959 Remove JumpTableIndexPred::FillInOutEdges
  parseAPI/src/JumpTableIndexPred.C
  parseAPI/src/JumpTableIndexPred.h
Labels: code cleanup, parseAPI

#960 Remove empty region_data constructor
  parseAPI/src/ParseData.C
  parseAPI/src/ParseData.h
Labels: code cleanup, parseAPI

#964 Fix misleading indentation compiler warning in codeRangeTree::remove
  dyninstAPI/src/codeRange.C
Labels: code cleanup

#965 Clean up "unused parameter" warnings
  common/src/arch-aarch64.h
  common/src/arch-power.h
  dyninstAPI/src/Relocation/Springboard.C
  dyninstAPI/src/Relocation/Springboard.h
  dyninstAPI/src/emit-aarch64.h
  dyninstAPI/src/emit-power.h
  dyninstAPI/src/emit-x86.C
  dyninstAPI/src/emit-x86.h
  dyninstAPI/src/emitter.h
  dyninstAPI/src/inst-x86.C
  instructionAPI/h/Operation_impl.h
  instructionAPI/src/Operation.C
  instructionAPI/src/Ternary.C
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/IndirectAnalyzer.h
  parseAPI/src/Parser.C
  parseAPI/src/Parser.h
  symtabAPI/src/parseStab.C
Labels: code cleanup

#966 Fix possible buffer overflow in parseThat::runHunt_binaryEdit
  parseThat/src/parseThat.C
Labels: bug, code cleanup

#967 Fix several C-string truncations in parseThat
  parseThat/src/config.C
  parseThat/src/record.C
Labels: bug, code cleanup

#968 Fix C-string format specifier mismatch in Operand::getReadSet
  instructionAPI/src/Operand.C
Labels: bug, code cleanup

#969 Fix cast qualifiers in Object-elf::read_val_of_type
  symtabAPI/src/Object-elf.C
Labels: code cleanup

#970 Fix possibly uninitialized local variable in InstructionDecoder_aarch64
  instructionAPI/src/InstructionDecoder-aarch64.C
Labels: bug, code cleanup

#971 Remove usage of designated initializer in dwarfHandle.C
  dwarf/src/dwarfHandle.C
Labels: code cleanup

#972 Fix pointer arithmetic on 'void*' in codeGen::insert
  dyninstAPI/src/codegen.C
Labels: bug, code cleanup

#973 Fix constructor member intializer list reordering
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-x86.C
  parseAPI/src/CFGFactory.C
  parseAPI/src/Function.C
Labels: bug, code cleanup

#974 Fix inclusion of boost deprecated headers
  parseAPI/h/CFG.h
  symtabAPI/src/Symtab-lookup.C
Labels: code cleanup

#975 Fix deprecated usage of boost::bind
  dataflowAPI/src/liveness.C
  dataflowAPI/src/slicing.C
  dataflowAPI/src/stackanalysis.C
  dyninstAPI/src/BPatch_basicBlock.C
  dyninstAPI/src/Parsing.C
  dyninstAPI/src/addressSpace.C
  parseAPI/src/GraphAdapter.C
  parseAPI/src/Parser.C
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup

#977 Remove unused function 'InsertFrames' in parseAPI/Parser
  parseAPI/src/Parser.C
Labels: code cleanup, parseAPI

#976 Fix shifts of negative values
  common/src/arch-power.C
  common/src/arch-power.h
Labels: bug, code cleanup

#980 Remove ignored cast qualifier in SnippetGenerator::findParameter
  dynC_API/src/snippetGen.C
Labels: code cleanup

#981 Use std::locale when writing a timeStamp to a stream
  common/src/Time.C
Labels: bug, code cleanup

#982 Fix C-string truncations in parseThat/config.C
  parseThat/src/config.C
  parseThat/src/parseThat.C
Labels: bug, code cleanup

#983 Remove unused parameter 'b' from BoundFactsCalculator::Meet
  parseAPI/src/BoundFactCalculator.C
  parseAPI/src/BoundFactData.C
  parseAPI/src/BoundFactData.h
Labels: code cleanup

#978 Fix unused values
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Ternary.C
  parseAPI/src/Parser.C
Labels: bug, code cleanup, instructionAPI, parseAPI

#987 Fix unhandled switch case in Region::regionType2Str
  symtabAPI/src/Region.C
Labels: Symtab, bug

#988 Correctly declare Aggregate::operator<<
  symtabAPI/h/Aggregate.h
  symtabAPI/src/Aggregate.C
Labels: Symtab, bug, build

#990 Clean up "unused variable" warnings
  dyninstAPI/src/Relocation/Springboard.C
  dyninstAPI/src/pcEventHandler.C
  parseAPI/src/IA_power.C
  parseAPI/src/Parser.C
  proccontrol/src/process.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/emitElfStatic.C
Labels: code cleanup

#955 Fix unhandled enum values for Intel GPUs
  common/src/dyn_regs.C
  parseAPI/src/SymbolicExpression.C
  proccontrol/src/process.C
Labels: GPUs, code cleanup

#997 Fix breakage introduced by PR990
  parseAPI/src/Parser.C
Labels: bug

#993 Bump minimum Boost version to 1.67
  cmake/Boost.cmake
Labels: code cleanup

#995 Add the default case in adhocMovementTransformer::isPCRelData to suppress compiler warning
  dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C
Labels: code cleanup

#991 Clean up sign-compare warnings
  dynC_API/src/lex.dynC.C
  elf/src/Elf_X.C
  parseAPI/src/Parser.C
  parseAPI/src/SymtabCodeSource.C
  proccontrol/src/linux.C
  stackwalk/src/walker.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/emitElf.C
Labels: code cleanup

#989 Remove dead code from ia32_decode
  common/src/arch-x86.C
Labels: code cleanup

#999 Remove assert in block_instance::callee(std::string const&)
  dyninstAPI/src/unix.C
Labels: code cleanup

#1003 Clean up PLTFunction class from dyninstAPI/Parsing.C
  dyninstAPI/src/Parsing.C
Labels: code cleanup

#1001 Fix PLT function call lookup
  dyninstAPI/src/Parsing.C
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  dyninstAPI/src/unix.C
Labels: BPatch, bug

#1004 Fix "unused parameter" warnings on PPC64
  dyninstAPI/src/BPatch_function.C
  dyninstAPI/src/BPatch_memoryAccessAdapter.C
  dyninstAPI/src/BPatch_object.C
  dyninstAPI/src/Relocation/Widgets/StackModWidget.C
  dyninstAPI/src/codegen-power.C
  dyninstAPI/src/inst-power.C
  parseAPI/src/Parser-speculative.C
  symtabAPI/src/emitElfStatic-ppc64.C
Labels: PowerPC, code cleanup

#1005 Clean up "unused parameter" warnings on Aarch64
  dyninstAPI/src/codegen-aarch64.C
  dyninstAPI/src/emit-aarch64.C
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/inst-power.C
  dyninstAPI/src/linux-aarch64.C
  dyninstAPI/src/parse-aarch64.C
  dyninstAPI/src/registerSpace.C
  dyninstAPI_RT/src/RTcommon.c
  dyninstAPI_RT/src/RTlinux.c
  stackwalk/src/aarch64-swk.C
  symtabAPI/src/emitElfStatic-aarch64.C
  symtabAPI/src/emitElfStatic-ppc64.C
Labels: ARMv8, code cleanup
