Repository dyninst/dyninst, pull requests merged in 2021-04, with the labels that each got.

#979 Add Initial support for Analyzing Indirect Control Flow on Amdgpu Vega
  common/h/amdgpu_op_table.h
  common/h/amdgpu_vega_sys_regs.h
  dataflowAPI/rose/SgAsmAmdgpuVegaInstruction.h
  dataflowAPI/rose/conversions.h
  dataflowAPI/rose/semantics/BaseSemantics2.C
  dataflowAPI/rose/semantics/DispatcherAmdgpuVega.C
  dataflowAPI/rose/semantics/DispatcherAmdgpuVega.h
  dataflowAPI/rose/semantics/Registers.C
  dataflowAPI/rose/semantics/Registers.h
  dataflowAPI/rose/semantics/SymEvalSemantics.C
  dataflowAPI/rose/semantics/SymEvalSemantics.h
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/ExpressionConversionVisitor.C
  dataflowAPI/src/RoseImpl.C
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/RoseInsnFactory.h
  dataflowAPI/src/SymEval.C
  dataflowAPI/src/SymbolicExpansion.C
  dataflowAPI/src/SymbolicExpansion.h
  dataflowAPI/src/convertOpcodes.C
  external/rose/amdgpuInstructionEnum.h
  external/rose/rose-compat.h
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-amdgpu-vega.C
  instructionAPI/src/amdgpu_opcode_tables.C
  parseAPI/CMakeLists.txt
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/JumpTableFormatPred.C
  parseAPI/src/JumpTableFormatPred.h
  parseAPI/src/Parser.C
  parseAPI/src/SymbolicExpression.C
Labels: GPUs

#1015 Update copyrights to 2021
  COPYRIGHT
  parseAPI/h/SymLiteCodeSource.h
  parseAPI/src/CodeSource.C
  parseAPI/src/SymLiteCodeSource.C
Labels: code cleanup

#1014 Fixing the issue of having insufficient space allocated for unsupported instructions that might result in buffer overflow
  common/h/amdgpu_op_table.h
  instructionAPI/src/amdgpu_opcode_tables.C
Labels: GPUs, instructionAPI

#1020 Set -B and -S when configuring dyninstAPI_RT
  CMakeLists.txt
Labels: build

#963 Allow usage of SIGILL for signal trampolines
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/addressSpace.h
  dyninstAPI/src/binaryEdit.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI_RT/src/RTposix.c
Labels: enhancement
