Repository dyninst/dyninst, pull requests merged in 2022-04, with the labels that each got.

#1222 Docker: don't build Dyninst through spack for the environment
  docker/Dockerfile
Labels: enhancement, CI

#1242 Docker: make compile warnings fatal
  docker/build.sh
Labels: enhancement, CI

#1244 Remove unused git files
  .github_changelog_generator
  .gitmodules
Labels: code cleanup

#1241 Cleanup (remove) ancient linux kernel support
  common/src/linuxKludges.C
  dyninstAPI/src/BPatch_process.C
Labels: code cleanup

#1248 Use bfd linker for LTO
  cmake/optimization.cmake
Labels: build

#1250 Fix format string errors in stackwalk/callchecker.C
  stackwalk/src/callchecker.C
Labels: build, code cleanup, stackwalker

#1252 Fix dyninstAPI_RT files to build with older glibc
  dyninstAPI_RT/src/RTheap-linux.c
  dyninstAPI_RT/src/RTheap.c
  dyninstAPI_RT/src/RTlinux.c
  dyninstAPI_RT/src/RTposix.c
  dyninstAPI_RT/src/RTsignal.c
Labels: build

#1253 Remove unused build options
  CMakeLists.txt
  cmake/options.cmake
Labels: build, code cleanup

#1259 Docker: don't use autamus cache
  docker/Dockerfile
Labels: CI
