Repository dyninst/dyninst, pull requests merged in 2022-12, with the labels that each got.

#1338 Threaddb cmake modernization
  CMakeLists.txt
  cmake/DyninstCapArchDef.cmake
  cmake/Modules/FindThread_DB.cmake
  cmake/tpls/DyninstThread_DB.cmake
  proccontrol/CMakeLists.txt
Labels: build

#1337 Lookup functions in the binding table directly
  dyninstAPI/src/unix.C
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: enhancement, performance

#1342 Remove dead implementation of IA_power::isLinkerStub
  parseAPI/src/IA_power.C
Labels: PowerPC, code cleanup, parseAPI
