Repository dyninst/dyninst, pull requests merged in 2022-10, with the labels that each got.

#1297 fix location list PC range values
  symtabAPI/src/dwarfWalker.C
Labels: bug, Symtab

#1301 Fix public header deletes
  parseAPI/h/GraphAdapter.h
  stackwalk/h/local_var.h
Labels: bug, build

#1307 Search 'elfutils' subdirectory for libdebuginfod/includedir
  cmake/Modules/FindLibDebuginfod.cmake
Labels: enhancement, build

#1308 Fix possible null pointer access in BPatch_module::findFunctionByAddress
  dyninstAPI/src/BPatch_module.C
Labels: bug, build, BPatch

#1309 Do not build dyninstAPI_RT as separate CMake project
  CMakeLists.txt
  dyninstAPI/CMakeLists.txt
  dyninstAPI_RT/CMakeLists.txt
Labels: build, dyninstAPI_RT
