Repository dyninst/dyninst, pull requests merged in 2022-11, with the labels that each got.

#1313 Manually add hex prefix when formatting an Operand
  instructionAPI/src/Operand.C
Labels: bug, instructionAPI

#1319 Directly link to common in dynC_API
  dynC_API/CMakeLists.txt
Labels: build

#1318 Use dyn_c_hash_map in DwarfWalker
  symtabAPI/src/dwarfWalker.h
Labels: build, Symtab

#1316 Support hash_compare concept from TBB >= 2021.1
  common/h/concurrent.h
  symtabAPI/src/dwarfWalker.h
Labels: build

#1315 ParseAPI: improve tail call recognition
  parseAPI/src/Parser.C
Labels: bug, parseAPI

#1324 Ignore unknown pragma warnings when building without OpenMP
  cmake/warnings.cmake
Labels: bug, build

#1325 Fix shadowing of 'filename' member in Elf_X::findDebugFile
  elf/src/Elf_X.C
Labels: bug, build, ELF

#1329 Remove outdated Boost version checks
  dwarf/src/dwarfFrameParser.C
  parseAPI/src/GraphAdapter.C
  proccontrol/h/PCProcess.h
Labels: build
