Repository dyninst/dyninst, pull requests merged in 2022-03, with the labels that each got.

#1211 Docker: use more OS packages
  docker/Dockerfile
Labels: build, CI

#1212 Docker: simplify build script
  docker/build.sh
  docker/test.sh
Labels: build, CI

#1215 Correctly handle DWARF subroutines during parallel parsing
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: bug, Symtab, DWARF

#1217 Docker: update dependency versions in base container config
  .github/workflows/base-containers.yaml
Labels: bug, CI

#1223 Remove usage of DW_AT_MIPS_linkage_name
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, DWARF

#1226 Correctly propagate pc ranges for blocks and local variables
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: bug, Symtab, DWARF

#1238 Remove BUILD_RT option
  CMakeLists.txt
  cmake/options.cmake
Labels: bug, build

#1237 Add parsing of names for inlined functions in DWARF
  symtabAPI/src/dwarfWalker.C
Labels: enhancement, Symtab, DWARF

#1236 Remove void pointer arithmetic when using Valgrind annotations
  common/src/concurrent.C
Labels: code cleanup

#1221 Docker: use more OS packages for dependencies
  docker/Dockerfile
Labels: enhancement, CI
