Repository dyninst/dyninst, pull requests merged in 2022-02, with the labels that each got.

#1190 ParseAPI: Speed up the many-called function case
  parseAPI/h/CFG.h
  parseAPI/src/Block.C
  parseAPI/src/Parser.C
Labels: enhancement, parseAPI, user-reported

#1189 Symtab::module documentation cleanup
  symtabAPI/doc/API/Symtab/Module.tex
Labels: bug, documentation

#1172 Additional cleanup of memory emulation for hybrid analysis
  dyninstAPI/src/IAPI_to_AST.C
  dyninstAPI_RT/h/dyninstRTExport.h
Labels: bug, code cleanup, user-reported

#1164 Improve DWARF enum parsing in Symtab::Type
  dyninstAPI/src/BPatch.C
  symtabAPI/h/Type.h
  symtabAPI/src/Type.C
  symtabAPI/src/dwarfWalker.C
Labels: enhancement, ABI-BREAKER, code cleanup, Symtab, API-BREAKER, DWARF

#1159 SymtabAPI::Type: add support for C++ r-value references
  symtabAPI/h/Type.h
  symtabAPI/src/dwarfWalker.C
Labels: enhancement, Symtab, DWARF

#1197 fix building of symlite
  CMakeLists.txt
  parseAPI/h/SymLiteCodeSource.h
  parseAPI/src/SymLiteCodeSource.C
  proccontrol/src/linux.C
Labels: build

#1107 Adding Support for AMDGPU CDNA2 Architectures based on XML ISA spec.
  common/h/AMDGPU/cdna2/amdgpu_cdna2_sys_regs.h
  common/h/amdgpu_cdna2_op_table.h
  common/h/amdgpu_cdna2_sys_regs.h
  common/h/amdgpu_cdna_op_table.h
  common/h/amdgpu_cdna_sys_regs.h
  common/h/amdgpu_op_table.h
  common/h/dyn_regs.h
  common/h/entryIDs.h
  common/src/dyn_regs.C
  dwarf/src/dwarfHandle.C
  elf/src/Elf_X.C
  instructionAPI/CMakeLists.txt
  instructionAPI/h/Instruction.h
  instructionAPI/h/Operation_impl.h
  instructionAPI/h/Result.h
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_decoder_impl.C
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_decoder_impl.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_insn_entry.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_op_table.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_opcode_tables.C
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_sys_regs.h
  instructionAPI/src/AMDGPU/cdna2/decodeOperands.C
  instructionAPI/src/AMDGPU/cdna2/decodeOperands.h
  instructionAPI/src/AMDGPU/cdna2/finalizeOperands.C
  instructionAPI/src/AMDGPU/vega/InstructionDecoder-amdgpu-vega.C
  instructionAPI/src/AMDGPU/vega/InstructionDecoder-amdgpu-vega.h
  instructionAPI/src/AMDGPU/vega/amdgpu_vega_decoder_impl.C
  instructionAPI/src/AMDGPU/vega/amdgpu_vega_decoder_impl.h
  instructionAPI/src/AMDGPU/vega/amdgpu_vega_insn_entry.h
  instructionAPI/src/AMDGPU/vega/amdgpu_vega_opcode_tables.C
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionCategories.C
  instructionAPI/src/InstructionDecoderImpl.C
  instructionAPI/src/Operand.C
  instructionAPI/src/Operation.C
  instructionAPI/src/Register.C
  instructionAPI/src/amdgpu_branchinsn_table.h
  instructionAPI/src/amdgpu_insn_entry.h
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/SymbolicExpression.C
  proccontrol/src/process.C
Labels: ongoing, instructionAPI, GPUs, DWARF

#1203 Build fixes for amdgpu/cdna2
  common/CMakeLists.txt
  common/h/AMDGPU/cdna2/amdgpu_cdna2_op_table.h
  common/h/amdgpu_cdna2_sys_regs.h
  common/h/entryIDs.h
Labels: bug, build, GPUs

#1198 Fix compiler warnings in amdgpu cdna2 code
  common/src/dyn_regs.C
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/cdna2/decodeOperands.C
  instructionAPI/src/Register.C
Labels: code cleanup, GPUs

#1204 Tidy up classes in AMDGPU
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_decoder_impl.h
Labels: code cleanup, GPUs

#1205 Code clean up for AMDGPU
  common/h/AMDGPU/vega/amdgpu_vega_op_table.h
  common/h/AMDGPU/vega/amdgpu_vega_sys_regs.h
  common/h/amdgpu_cdna_op_table.h
  common/h/amdgpu_cdna_sys_regs.h
  common/h/dyn_regs.h
  common/h/entryIDs.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_op_table.h
  instructionAPI/src/AMDGPU/cdna2/amdgpu_cdna2_sys_regs.h
Labels: code cleanup
