Repository dyninst/dyninst, pull requests merged in 2022-01, with the labels that each got.

#1170 Removed incorrect/unnecessary/error-prone use of realloc
  symtabAPI/src/Type-mem.h
Labels: bug, Symtab, user-reported

#1180 Adding first stage of automated docker build
  .github/workflows/base-containers.yaml
  CHANGELOG.md
  README.md
  docker/Dockerfile
  docker/README.md
  docker/build.sh
Labels: CI

#1181 Adding dyninst release trigger
  .github/workflows/base-containers.yaml
Labels: CI

#1176 Remove interposed definition of _r_debug
  dyninstAPI_RT/src/RTlinux.c
Labels: user-reported, dyninstAPI_RT, language runtime
