Repository dyninst/dyninst, pull requests merged in 2023-10, with the labels that each got.

#1541 Add Initial Support for GFX940
  common/CMakeLists.txt
  common/h/AMDGPU/gfx940/amdgpu_gfx940_op_table.h
  common/h/AMDGPU/gfx940/amdgpu_gfx940_sys_regs.h
  common/h/dyn_regs.h
  common/h/entryIDs.h
  common/src/dyn_regs.C
  dataflowAPI/rose/semantics/SymEvalSemantics.C
  dataflowAPI/rose/semantics/SymEvalSemantics.h
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/ExpressionConversionVisitor.C
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/SymEval.C
  dataflowAPI/src/convertOpcodes.C
  dwarf/src/dwarfHandle.C
  elf/src/Elf_X.C
  instructionAPI/CMakeLists.txt
  instructionAPI/h/Instruction.h
  instructionAPI/h/Operation_impl.h
  instructionAPI/src/AMDGPU/gfx940/InstructionDecoder-amdgpu-gfx940.C
  instructionAPI/src/AMDGPU/gfx940/InstructionDecoder-amdgpu-gfx940.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_insn_entry.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_opcode_tables.C
  instructionAPI/src/AMDGPU/gfx940/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx940/decodeOperands.h
  instructionAPI/src/AMDGPU/gfx940/finalizeOperands.C
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionCategories.C
  instructionAPI/src/InstructionDecoderImpl.C
  instructionAPI/src/Register.C
  instructionAPI/src/amdgpu_branchinsn_table.h
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/SymbolicExpression.C
  proccontrol/src/process.C
Labels: dataflowAPI, parseAPI, instructionAPI, GPUs

#1553 GithubCI: fix names in consumer weekly build
  .github/workflows/consumers.yaml
Labels: bug, CI

#1554 fix deprecated annotation warning using clang
  common/h/compiler_annotations.h
Labels: bug, clang

#1551 Mark Symtab::findModuleByOffset(Module*&,Offset) with DYNINST_DEPRECATED
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1557 reorganize and cleanup Symtab.h
  symtabAPI/CMakeLists.txt
  symtabAPI/h/ExceptionBlock.h
  symtabAPI/h/Symtab.h
  symtabAPI/h/relocationEntry.h
  symtabAPI/src/ExceptionBlock.C
  symtabAPI/src/Symbol.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/relocationEntry.C
Labels: bug, code cleanup, Symtab

#1558 Create unique name for unnamed partial DWARF DIEs
  dwarf/CMakeLists.txt
  dwarf/h/dwarf_cu_info.h
  dwarf/h/dwarf_names.h
  dwarf/h/dwarf_unit_info.h
Labels: bug, Symtab, DWARF

#1560 GithubCI: add testing on Fedora-39
  .github/workflows/dev-containers.yaml
  .github/workflows/pr-tests.yaml
  docker/Dockerfile.fedora
Labels: CI

#1546 Remove DwarfWalker::setModuleFromName
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, Symtab, DWARF

#1567 Remove Symtab::changeSymbolOffset
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-edit.C
Labels: code cleanup, Symtab

#1566 Clean up dead code in dwarfWalker.C
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, Symtab

#1564 Improve DWARF debugging in Object::fix_global_symbol_modules_static_dwarf
  symtabAPI/src/Object-elf.C
Labels: enhancement, code cleanup, Symtab, DWARF

#1562 Remove Module::findFunctionsByName
  symtabAPI/doc/API/Symtab/Module.tex
  symtabAPI/h/Module.h
Labels: code cleanup, Symtab

#1561 Remove Module::findFunctionByEntryOffset
  symtabAPI/doc/API/Symtab/Module.tex
  symtabAPI/h/Module.h
Labels: code cleanup, Symtab

#1565 Remove Symtab::findModuleByName(Module *&, std::string)
  symtabAPI/doc/3-Examples.tex
  symtabAPI/doc/API/LineInfo/Iterating.tex
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, Symtab, API-BREAKER

#1568 Refactor Symtab::getOrCreateModule
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1569 fix gcc 6's broken __has_x_attribute
  common/h/compiler_annotations.h
Labels: code cleanup

#1571 Add Symtab::getContainingModule(Offset)
  dyninstAPI/src/image.C
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/symtab_impl.hpp
Labels: enhancement, code cleanup, Symtab

#1572 Use Symtab::getContainingModule instead of Symtab::findModuleByOffset
  symtabAPI/src/Symtab.C
Labels: bug, Symtab

#1574 Deprecate mapped_module::truncateLineFilenames
  dyninstAPI/h/BPatch.h
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/mapped_module.C
  dyninstAPI/src/mapped_module.h
Labels: code cleanup, BPatch

#1575 Remove DWARFisms from Symtab::Module
  symtabAPI/h/Module.h
  symtabAPI/src/Module.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.h
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER, DWARF

#1576 Remove MODULE_ANNOTATABLE_CLASS
  symtabAPI/h/Module.h
Labels: code cleanup, Symtab

#1577 Remove Module::findFunctionByEntryOffset
  symtabAPI/h/Module.h
Labels: bug, code cleanup, Symtab

#1578 Reduce usage of concurrent.h
  common/h/IBSTree-fast.h
  symtabAPI/h/Aggregate.h
  symtabAPI/h/Function.h
Labels: code cleanup

#1580 Fix naming of Modules with relative CU paths
  dwarf/h/dwarf_cu_info.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
Labels: bug, Symtab, DWARF

#1581 Fix line information parsing for CUs with no aranges
  dwarf/h/dwarf_cu_info.h
  symtabAPI/src/Object-elf.C
Labels: bug, Symtab, DWARF

#1582 Add missing memory operand sizes and decoding in instructionAPI::Result
  instructionAPI/h/Result.h
Labels: bug, code cleanup, instructionAPI

#1583 Handle implicit operand for call instruction to ROSE
  dataflowAPI/src/RoseInsnFactory.C
  parseAPI/src/IA_IAPI.C
Labels: bug, instructionAPI

#1586 Remove mapped_module::getAddrFromLine
  dyninstAPI/src/mapped_module.h
Labels: code cleanup, dyninstAPI

#1585 Move entryIDs into separate data files
  common/CMakeLists.txt
  common/h/entryIDs.h
  common/h/mnemonics/AMDGPU/gfx908_entryIDs.h
  common/h/mnemonics/AMDGPU/gfx90a_entryIDs.h
  common/h/mnemonics/AMDGPU/gfx940_entryIDs.h
  common/h/mnemonics/IntelGPU/generic_entryIDs.h
  common/h/mnemonics/NVIDIA/generic_entryIDs.h
  common/h/mnemonics/aarch64_entryIDs.h
  common/h/mnemonics/ppc_entryIDs.h
  common/h/mnemonics/x86_entryIDs.h
Labels: PowerPC, ARMv8, code cleanup, GPUs, x86_64

#1587 Fix redundant parsing of linemap information
  symtabAPI/src/Module.C
Labels: bug, Symtab, DWARF

#1588 Reorder enumerators in instructionAPI::Result::Result_Type
  instructionAPI/h/Result.h
Labels: bug, instructionAPI

#1589 Remove instructionAPI/h/RegisterIDs.h
  dyninstAPI/src/codegen-x86.C
  instructionAPI/CMakeLists.txt
  instructionAPI/h/RegisterIDs.h
  parseAPI/src/ProbabilisticParser.h
Labels: code cleanup, instructionAPI

#1591 Remove BPatch_flowGraph::getLoopMinMaxSourceLines
  dyninstAPI/src/BPatch_flowGraph.C
Labels: code cleanup, dyninstAPI

#1592 Remove Singleton.h
  common/CMakeLists.txt
  common/src/Singleton.h
  instructionAPI/src/Operation.C
  instructionAPI/src/Register.C
  instructionAPI/src/Ternary.C
Labels: code cleanup

#1593 Remove Pair.h and pdpair
  common/CMakeLists.txt
  common/src/Pair.h
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/BPatch_flowGraph.C
  dyninstAPI/src/debug.C
  dyninstAPI/src/debug.h
  dyninstAPI/src/function.h
  dyninstAPI/src/parRegion.h
  dyninstAPI/src/parse-cfg.h
Labels: code cleanup

#1595 Remove codeRange::operator<<
  dyninstAPI/src/codeRange.h
Labels: code cleanup

#1594 Remove common/std_namesp.h
  common/CMakeLists.txt
  common/src/Timer.h
  common/src/addrRange.h
  common/src/std_namesp.h
  dyninstAPI/src/BPatch_basicBlockLoop.C
  dyninstAPI/src/BPatch_sourceBlock.C
  dyninstAPI/src/Relocation/CodeBuffer.C
  dyninstAPI/src/Relocation/Widgets/ASTWidget.C
  dyninstAPI/src/Relocation/Widgets/InstWidget.C
  dyninstAPI/src/codeRange.h
  dyninstAPI/src/frame.h
  dyninstAPI/src/pdwinnt.C
  parseAPI/src/Loop.C
  patchAPI/src/PatchLoop.C
Labels: code cleanup

#1610 Remove Symtab::getSymbolByIndex
  symtabAPI/h/Symtab.h
Labels: code cleanup, Symtab

#1607 Remove BINEDIT_DEBUG
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/emitElf.C
Labels: code cleanup

#1606 Remove Symtab::newModule declaration
  symtabAPI/h/Symtab.h
Labels: code cleanup, Symtab

#1605 Remove MachRegister(int, char const*) overload
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
Labels: ABI-BREAKER, code cleanup

#1603 Lazily parse function ranges in Symtab::getContainingFunction
  symtabAPI/src/Symtab-lookup.C
Labels: bug, code cleanup, Symtab

#1604 Clean up MachRegister class
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
Labels: code cleanup

#1602 Make SymtabAPI::errMsg thread_local
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1600 Remove dyninst.h, stringDecl.h
  common/CMakeLists.txt
  common/src/stringDecl.h
  dyninstAPI/CMakeLists.txt
  dyninstAPI/src/dynThread.C
  dyninstAPI/src/dyninst.h
  dyninstAPI/src/image.h
  dyninstAPI/src/inst-linux.C
  dyninstAPI/src/inst-winnt.C
Labels: code cleanup

#1601 Remove module containment check in Symtab::create{Function,Variable}
  symtabAPI/src/Symtab-edit.C
Labels: code cleanup, Symtab

#1599 Remove Symtab::exportXML,exportBin,importBin
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1598 Remove Symtab(MappedFile*)
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1597 Remove redundant declaration of SymtabAPI::FuncRangeCollection
  symtabAPI/h/Function.h
Labels: code cleanup, Symtab

#1596 Remove FunctionBase::ranges_lock
  symtabAPI/h/Function.h
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, Symtab, DWARF

#1609 Guarantee operands in AstOperatorNode are non-null
  dyninstAPI/src/ast.C
  dyninstAPI/src/ast.h
Labels: bug, code cleanup, dyninstAPI

#1608 Make null pointer checks for ParseAPI::Block::_obj consistent
  parseAPI/src/Block.C
Labels: bug, code cleanup, parseAPI

#1611 Remove locking before calls to convertDebugOffset
  symtabAPI/src/Object-elf.C
Labels: code cleanup

#1612 Improve name handling in MachRegister
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
  instructionAPI/src/ArchSpecificFormatters.C
Labels: code cleanup

#1613 Fix MachRegister bool checks
  common/src/registers/MachRegister.C
Labels: code cleanup
