Repository dyninst/dyninst, pull requests merged in 2023-09, with the labels that each got.

#1498 Fix responsibility inversion in Module::finalizeRanges
  symtabAPI/h/Module.h
  symtabAPI/src/Module.C
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1506 Add newline in log message in DwarfWalker::parseModule
  symtabAPI/src/dwarfWalker.C
Labels: enhancement, DWARF

#1508 Workarounds to align decoder output with llvm-objdump
  common/h/dyn_regs.h
  instructionAPI/h/Immediate.h
  instructionAPI/h/Instruction.h
  instructionAPI/h/Operation_impl.h
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.C
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.h
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx908/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx908/finalizeOperands.C
  instructionAPI/src/AMDGPU/gfx90a/InstructionDecoder-amdgpu-gfx90a.C
  instructionAPI/src/AMDGPU/gfx90a/InstructionDecoder-amdgpu-gfx90a.h
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx90a/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx90a/finalizeOperands.C
  instructionAPI/src/Immediate.C
Labels: bug, instructionAPI

#1503 Remove FunctionBase::setReturnType(Type*)
  symtabAPI/doc/API/Symtab/Function.tex
  symtabAPI/doc/API/Symtab/FunctionBase.tex
  symtabAPI/h/Function.h
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1509 Don't check for existing return type when parsing DWARF subprogram
  symtabAPI/src/dwarfWalker.C
Labels: bug, Symtab, DWARF

#1505 Fix inverted logic in DwarfDyninst::is_cudie
  dwarf/h/dwarf_cu_info.hpp
Labels: bug, Symtab, DWARF

#1501 Use full filenames when handling Modules
  common/src/MappedFile.C
  common/src/MappedFile.h
  dyninstAPI/src/BPatch_module.C
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  dyninstAPI/src/mapped_module.C
  dyninstAPI/src/mapped_module.h
  dyninstAPI/src/mapped_object.C
  dyninstAPI/src/unix.C
  symtabAPI/h/Module.h
  symtabAPI/h/Symtab.h
  symtabAPI/src/Aggregate.C
  symtabAPI/src/Archive.C
  symtabAPI/src/Module.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Symbol.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/dwarfWalker.C
Labels: bug, enhancement, code cleanup, Symtab

#1507 Remove hasSpecification param from DwarfWalker::getReturnType
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, Symtab, DWARF

#1504 Remove ret_lock from SymtabAPI::FunctionBase
  symtabAPI/h/Function.h
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, Symtab, DWARF

#1500 Unify naming of Modules
  dwarf/h/dwarf_cu_info.h
  dwarf/h/dwarf_cu_info.hpp
  dwarf/h/dwarf_names.h
  dyninstAPI/src/BPatch_image.C
  dyninstAPI/src/mapped_object.C
  symtabAPI/doc/3-Examples.tex
  symtabAPI/h/Aggregate.h
  symtabAPI/src/Aggregate.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, Symtab

#1513 Github CI: terminate PR pipeline at first failure
  .github/workflows/pr-tests.yaml
Labels: CI

#1512 Github CI: execute external tests on PR
  .github/workflows/pr-tests.yaml
Labels: CI

#1514 Refactor dwarf/dwarf_names.h
  dwarf/h/dwarf_cu_info.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup

#1515 Parse all DWARF source files in DwarfWalker::buildSrcFiles
  symtabAPI/src/dwarfWalker.C
Labels: bug, Symtab, DWARF

#1516 Remove DwarfWalker::version member variable
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, Symtab

#1521 Github CI: use correct directory when running external-tests on PR
  .github/workflows/pr-tests.yaml
Labels: bug, CI

#1520 Don't create a name for artificial DIEs with a DW_AT_name
  dwarf/h/dwarf_names.h
Labels: bug, Symtab, DWARF

#1511 Fix Implementation for RoseOperation::extractOp
  dataflowAPI/src/Visitors.C
  parseAPI/src/SymbolicExpression.C
Labels: bug, dataflowAPI, parseAPI

#1522 Fix int size of rose operations return values
  parseAPI/src/SymbolicExpression.C
Labels: parseAPI

#1524 Github CI: Build systemtap weekly
  .github/workflows/consumers.yaml
Labels: CI

#1525 Github CI: Build LLNL/STAT weekly
  .github/workflows/consumers.yaml
Labels: CI

#1526 Github CI: Build TAU weekly
  .github/workflows/consumers.yaml
Labels: CI

#1528 GithubCI: Allow consumer builds to be run manually
  .github/workflows/consumers.yaml
Labels: CI

#1527 Github CI: Add weekly build of MUST
  .github/workflows/consumers.yaml
Labels: CI

#1529 GithubCI: Re-enable consumer builds
  .github/workflows/consumers.yaml
Labels: CI

#1530 Remove Symtab::fixup_SymbolAddr
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1533 GithubCI: allow manually running all CI workflows
  .github/workflows/cmake-formatting.yaml
  .github/workflows/compiler-multibuild.yaml
  .github/workflows/dependency-version.yaml
  .github/workflows/dev-containers.yaml
  .github/workflows/pr-tests.yaml
  .github/workflows/spack-build.yaml
Labels: CI

#1532 Remove dwarfWalker::deallocateLocationList
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, DWARF

#1534 Refactor Symtab::addSymbolToAggregate
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1531 Hide implementations of complex data structures in SymtabAPI::Symtab
  symtabAPI/CMakeLists.txt
  symtabAPI/h/Function.h
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/indexed_symbols.hpp
  symtabAPI/src/symtab_impl.hpp
Labels: ABI-BREAKER, code cleanup, Symtab

#1536 Remove dwarfWalker::getHighPCLowPC
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: code cleanup, Symtab, DWARF

#1535 Refactor DwarfWalker::dieRanges
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/dwarfWalker.h
Labels: bug, code cleanup, Symtab, DWARF

#1542 Fix duplicate symbol entries in Symtab:everyFunction
  symtabAPI/src/Symtab.C
Labels: bug, Symtab

#1540 Use fully-qualified name in fix_global_symbol_modules_static_dwarf
  symtabAPI/src/Object-elf.C
Labels: code cleanup, Symtab

#1539 Default-initialized 'std::once_flag's in symtab_impl
  symtabAPI/src/symtab_impl.hpp
Labels: code cleanup, Symtab

#1538 Make a default module a class invariant in Symtab
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/symtab_impl.hpp
Labels: enhancement, Symtab

#1543 Make Symtab::getDefaultModule const
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-lookup.C
Labels: ABI-BREAKER, code cleanup, Symtab

#1544 Replace boost::multi_index_container with tbb::concurrent_unordered_set in symtab_impl
  symtabAPI/CMakeLists.txt
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/indexed_modules.h
  symtabAPI/src/symtab_impl.hpp
Labels: code cleanup, Symtab

#1549 Mark SymtabAPI::Function::removeSymbol as 'override'
  symtabAPI/h/Function.h
Labels: code cleanup, clang

#1545 Add new Symtab interface for accessing modules by offset
  dyninstAPI/src/image.C
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab, API-BREAKER

#1547 Remove public Symtab API for adding line information
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, Symtab, API-BREAKER, DWARF

#1550 add deprecated annotation support
  common/h/compiler_annotations.h
Labels: enhancement

#1548 GithubCI: improve error handling
  .github/workflows/pr-tests.yaml
  docker/build.sh
Labels: bug, CI

#1552 Add findModulesByName(std::string const&)
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-lookup.C
Labels: enhancement, Symtab
