Repository dyninst/dyninst, pull requests merged in 2023-01, with the labels that each got.

#1344 add missing include file
  dataflowAPI/src/AbslocInterface.C
Labels: build

#1351 Refactor common/src/Types.h
  common/src/Types.h
  common/src/arch-x86.h
Labels: code cleanup

#1353 Remove special global ctor/dtor search in ppc for static binaries
  dyninstAPI/src/parse-power.C
Labels: PowerPC, language runtime, ELF

#1354 Use instrumentation logging in baseTramp::guarded
  dyninstAPI/src/baseTramp.C
Labels: code cleanup

#1356 BPatch_snippet::generateArrayRef - fix possible null pointer access
  dyninstAPI/src/BPatch_snippet.C
Labels: bug, dyninstAPI

#1358 Remove AObject::pickLanguage
  symtabAPI/src/Object.C
  symtabAPI/src/Object.h
Labels: DWARF
