Repository dyninst/dyninst, pull requests merged in 2023-02, with the labels that each got.

#1357 Update detection of DWARF languages
  symtabAPI/src/Object-elf.C
Labels: DWARF

#1368 handle ENDBR64
  common/h/entryIDs.h
  common/src/arch-x86.C
  instructionAPI/src/InstructionDecoder-x86.C
Labels: ABI-BREAKER, instructionAPI

#1371 Remove use of couts in the AMDGPU instruction decoders
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/vega/InstructionDecoder-amdgpu-vega.C
Labels: instructionAPI

#1367 update spack.yaml for spack v0.19.1
  docker/Dockerfile
Labels: build

#1373 Insure intel 8 bit immediate values are interpreted correctly on other systems.
  common/src/arch-x86.C
  common/src/arch-x86.h
  instructionAPI/h/Result.h
Labels: bug, instructionAPI

#1384 explicitly include missing <array>
  instructionAPI/src/InstructionDecoder-aarch64.h
Labels: build

#1385 Add missing <array> includes
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.C
  instructionAPI/src/AMDGPU/vega/InstructionDecoder-amdgpu-vega.C
Labels: bug, build

#1355 Update global ctor/dtor instrumentation for static executables
  dyninstAPI/src/parse-aarch64.C
  dyninstAPI/src/parse-power.C
  dyninstAPI/src/parse-x86.C
Labels: bug, dyninstAPI_RT, language runtime

#1293 Make SymtabCodeSource take a const param
  parseAPI/h/CodeSource.h
  parseAPI/src/SymtabCodeSource.C
Labels: ABI-BREAKER, parseAPI, user-reported

#1332 use default allocator for tbb::concurrent_hash_map
  common/h/concurrent.h
Labels: ABI-BREAKER, code cleanup

#1389 Fix ambiguous override of InstructionDecoder_amdgpu_*::makeRegisterExpression
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.C
  instructionAPI/src/AMDGPU/cdna2/InstructionDecoder-amdgpu-cdna2.h
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.C
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.h
Labels: bug, instructionAPI
