Repository dyninst/dyninst, pull requests merged in 2023-08, with the labels that each got.

#1474 Fix hang when creating ELF dynamic sections
  symtabAPI/src/emitElf.C
Labels: bug, Symtab

#1475 Clean up SymtabAPI::Function classes
  symtabAPI/h/Function.h
Labels: bug, enhancement, ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1477 Don't include compiler-specific headers
  symtabAPI/src/dwarfWalker.h
Labels: bug, build, Symtab, user-reported

#1478 Remove Symtab::forceFullLineInfoParse
  symtabAPI/h/Symtab.h
Labels: code cleanup, Symtab

#1479 Clean up SymtabAPI::LineInformation class
  symtabAPI/h/LineInformation.h
  symtabAPI/src/LineInformation.C
Labels: bug, ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1481 Remove Symtab::updateIndices
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1483 Clean up unused global variables in Object-elf.C
  symtabAPI/src/Object-elf.C
Labels: code cleanup, Symtab

#1487 Remove declaration of Object::load_shared_object
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
Labels: code cleanup, Symtab

#1486 Remove declaration of image::getModuleLanguageInfo
  dyninstAPI/src/image.h
Labels: code cleanup, Symtab

#1485 Remove Module::setName
  symtabAPI/h/Module.h
  symtabAPI/src/Module.C
Labels: ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1488 Remove AObject::symsToModules_
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object-nt.C
  symtabAPI/src/Object.C
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
Labels: code cleanup, Symtab

#1491 Remove patchAPI/example
  patchAPI/example/README.md
  patchAPI/example/main.cpp
  patchAPI/example/mutatee/main.c
Labels: code cleanup, patchAPI

#1490 Remove patchAPI/test/findPoint
  patchAPI/test/findPoint/Makefile
  patchAPI/test/findPoint/main.C
  patchAPI/test/findPoint/mutatee/Makefile
  patchAPI/test/findPoint/mutatee/lib.c
  patchAPI/test/findPoint/mutatee/main.c
  patchAPI/test/findPoint/run.sh
Labels: code cleanup, patchAPI

#1494 Remove parseAPI examples
  parseAPI/doc/code_sample.cc
  parseAPI/doc/example.cc
Labels: code cleanup, parseAPI

#1497 Make Symtab::parseTypesNow thread-safe
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: bug, Symtab

#1495 Refactor extracting CU tags from DWARF
  dwarf/h/dwarf_cu_info.hpp
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, Symtab, DWARF

#1496 Remove pd_dwarf_handler
  symtabAPI/src/Object-elf.C
  symtabAPI/src/parseDwarf.C
Labels: code cleanup, Symtab

#1499 Use uniform CU checks in DwarfWalker
  symtabAPI/src/dwarfWalker.C
Labels: code cleanup, Symtab
