Repository dyninst/dyninst, pull requests merged in 2023-07, with the labels that each got.

#1447 Remove Symtab copy constructor
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: bug, ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1448 Remove Symtab::checkPPC64DescriptorSymbols
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: bug, ABI-BREAKER, code cleanup, Symtab, API-BREAKER

#1449 Remove Symtab::mfForDebugInfo
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, code cleanup, Symtab

#1450 Explicitly delete unusable special member functions in Symtab
  symtabAPI/h/Symtab.h
Labels: code cleanup, Symtab

#1451 Clean up Symtab constructors
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
Labels: bug, code cleanup, Symtab

#1452 Make Symtab::getContainingInlinedFunction lazy parsing threadsafe
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab-lookup.C
Labels: bug, ABI-BREAKER, Symtab, user-reported

#1454 Remove lazy initialization of IBSTrees in Symtab
  symtabAPI/h/Function.h
  symtabAPI/h/Symtab.h
  symtabAPI/h/Variable.h
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
Labels: bug, ABI-BREAKER, Symtab

#1444 Fix EM_AMDGPU to use RELA as Region Type
  symtabAPI/src/Object-elf.C
Labels: bug, ELF

#1462 Remove Object::dwarf_parse_aranges
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
Labels: code cleanup, Symtab

#1421 Fix x86 misspelled, incorrect, and invalid opcodes
  common/h/entryIDs.h
  common/src/arch-x86.C
  dataflowAPI/src/convertOpcodes.C
Labels: bug, ABI-BREAKER, API-BREAKER, instructionAPI, x86_64

#1457 fix x86_64 ret instruction formatting
  instructionAPI/h/Instruction.h
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-x86.C
Labels: bug, ABI-BREAKER, API-BREAKER, instructionAPI

#1463 improve intel instruction & operand formatting
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Operand.C
Labels: bug, code cleanup, instructionAPI, x86_64

#1464 modernize ArchSpecificFormatter classes
  instructionAPI/h/ArchSpecificFormatters.h
  instructionAPI/src/ArchSpecificFormatters.C
Labels: ABI-BREAKER, code cleanup, instructionAPI

#1465 add getDisplayOrderedOperands interface
  instructionAPI/h/ArchSpecificFormatters.h
  instructionAPI/h/Instruction.h
  instructionAPI/src/ArchSpecificFormatters.C
  instructionAPI/src/Instruction.C
Labels: feature-request, instructionAPI

#1466 do not export Instruction::appendOperand
  instructionAPI/h/Instruction.h
Labels: ABI-BREAKER, code cleanup, API-BREAKER, instructionAPI

#1468 add support for EM_INTELGT
  dwarf/src/dwarfHandle.C
  elf/h/Elf_X.h
  elf/src/Elf_X.C
Labels: enhancement, GPUs

#1467 Do not decode operands for invalid opcodes
  instructionAPI/src/Instruction.C
Labels: enhancement, instructionAPI
