Repository dyninst/dyninst, pull requests merged in 2023-11, with the labels that each got.

#1615 Remove extraneous variables in Symbol.C
  symtabAPI/src/Symbol.C
Labels: code cleanup, Symtab

#1616 Remove useless assert in binaryEdit::writeFile
  dyninstAPI/src/binaryEdit.C
Labels: code cleanup

#1617 Remove code protected by USE_ADDRESS_MAPS
  dyninstAPI/src/binaryEdit.C
Labels: code cleanup, dyninstAPI

#1618 Remove addTrapTableSpace_win and addTrapTable_win in binaryEdit.C
  dyninstAPI/src/binaryEdit.C
Labels: code cleanup, dyninstAPI

#1620 Remove dead code binaryEdit.C
  dyninstAPI/src/binaryEdit.C
Labels: code cleanup, dyninstAPI

#1621 Fix astOperatorNode semantics
  dyninstAPI/src/ast.C
Labels: bug, dyninstAPI

#1622 Clean up dead code in common/ast.C
  dyninstAPI/src/ast.C
  dyninstAPI/src/ast.h
Labels: code cleanup

#1624 Explicitly mark overridden member functions in Object-elf
  symtabAPI/src/Object-elf.h
Labels: code cleanup, Symtab

#1623 Deprecate Symtab::getOrCreateModule
  dyninstAPI/src/binaryEdit.C
  symtabAPI/h/Symtab.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
Labels: Symtab, API-BREAKER

#1614 Restructure operand decoding logic for AMDGPU
  instructionAPI/CMakeLists.txt
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.C
  instructionAPI/src/AMDGPU/gfx908/InstructionDecoder-amdgpu-gfx908.h
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_opcode_tables.C
  instructionAPI/src/AMDGPU/gfx908/appendOperands.C
  instructionAPI/src/AMDGPU/gfx908/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx908/decodeOperands.h
  instructionAPI/src/AMDGPU/gfx908/finalizeOperands.C
  instructionAPI/src/AMDGPU/gfx90a/InstructionDecoder-amdgpu-gfx90a.C
  instructionAPI/src/AMDGPU/gfx90a/InstructionDecoder-amdgpu-gfx90a.h
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_opcode_tables.C
  instructionAPI/src/AMDGPU/gfx90a/appendOperands.C
  instructionAPI/src/AMDGPU/gfx90a/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx90a/decodeOperands.h
  instructionAPI/src/AMDGPU/gfx90a/finalizeOperands.C
  instructionAPI/src/AMDGPU/gfx940/InstructionDecoder-amdgpu-gfx940.C
  instructionAPI/src/AMDGPU/gfx940/InstructionDecoder-amdgpu-gfx940.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_decoder_impl.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_insn_entry.h
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_opcode_tables.C
  instructionAPI/src/AMDGPU/gfx940/appendOperands.C
  instructionAPI/src/AMDGPU/gfx940/decodeOperands.C
  instructionAPI/src/AMDGPU/gfx940/decodeOperands.h
  instructionAPI/src/AMDGPU/gfx940/finalizeOperands.C
Labels: instructionAPI, GPUs

#1626 Construct a Module from the CU's offset not its PC
  dwarf/h/dwarf_cu_info.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/dwarfWalker.C
Labels: bug, Symtab, DWARF

#1631 Remove MachineRegister::getSubRegValue
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
Labels: code cleanup, dyninstAPI

#1629 Clean up and improve documentation of x86_32 registers
  common/h/registers/x86_regs.h
  common/src/registers/MachRegister.C
  dataflowAPI/src/RegisterMap.C
Labels: code cleanup, dataflowAPI, instructionAPI, dyninstAPI

#1630 Clean up and improve documentation of x86_64 registers
  common/h/registers/x86_64_regs.h
  common/src/registers/MachRegister.C
  dataflowAPI/src/SymEvalPolicy.C
Labels: code cleanup, dataflowAPI, instructionAPI, dyninstAPI

#1632 Remove deleted x86 RegisterDictionary functions
  dataflowAPI/rose/semantics/Registers.C
  dataflowAPI/rose/semantics/Registers.h
Labels: code cleanup, dataflowAPI

#1633 Update x86 DWARF registers maps
  common/src/registers/MachRegister.C
Labels: DWARF

#1636 Add x86_{i386,64} memory-management and x87 control/status registers
  common/h/registers/x86_64_regs.h
  common/h/registers/x86_regs.h
  common/src/registers/MachRegister.C
Labels: DWARF, dyninstAPI

#1634 Synchronize x86 mnemonics with Capstone
  .gitignore
  common/h/mnemonics/x86_entryIDs.h
  common/src/arch-x86.C
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/convertOpcodes.C
  dataflowAPI/src/stackanalysis.C
  instructionAPI/capstone/aarch64.py
  instructionAPI/capstone/capstone.py
  instructionAPI/capstone/import.py
  instructionAPI/capstone/ppc.py
  instructionAPI/capstone/x86.py
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionCategories.C
  instructionAPI/src/InstructionDecoder-x86.C
  instructionAPI/src/Operation.C
  parseAPI/src/BoundFactCalculator.C
  parseAPI/src/BoundFactData.C
  parseAPI/src/IA_x86.C
  parseAPI/src/IdiomModelDesc.C
Labels: instructionAPI

#1638 Add missing x86_64 control and debug registers
  common/h/registers/x86_64_regs.h
Labels: dyninstAPI

#1639 Add DWARF mappings for cr8-15 and dr8-15
  common/src/registers/MachRegister.C
Labels: DWARF, dyninstAPI
