Repository dyninst/dyninst, pull requests merged in 2024-02, with the labels that each got.

#1668 Use code region boundaries for ParseAPI::Function::less comparator
  parseAPI/h/CFG.h
Labels: enhancement, parseAPI, user-reported

#1679 Remove unprintable characters from common/src/Timer.C
  common/src/Timer.C
Labels: code cleanup

#1682 fix operator<< for Module*
  symtabAPI/h/Module.h
Labels: bug, Symtab

#1685 Remove dyninstAPI/Relocation/Transformers/Defensive.C
  dyninstAPI/src/Relocation/Transformers/Defensive.C
Labels: code cleanup

#1684 Refactor IA_IAPI::isSyscall,isInterrupt into arch-specific files
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_IAPI.h
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_aarch64.h
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_amdgpu.h
  parseAPI/src/IA_power.C
  parseAPI/src/IA_power.h
  parseAPI/src/IA_x86.C
  parseAPI/src/IA_x86.h
Labels: ABI-BREAKER, PowerPC, ARMv8, code cleanup, parseAPI, GPUs, x86_64

#1687 Remove unreachable code in BPatch_addressSpace::getRegisters
  dyninstAPI/src/BPatch_addressSpace.C
Labels: code cleanup, dyninstAPI

#1686 Improve syscall and interrupt instruction detection
  instructionAPI/src/InstructionCategories.C
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_power.C
  parseAPI/src/IA_x86.C
Labels: enhancement, PowerPC, ARMv8, parseAPI, x86_64

#1688 Add CMake option to control symbol visibility
  cmake/DyninstLibrarySettings.cmake
  cmake/DyninstOptions.cmake
Labels: enhancement, build

#1683 Fix logic error in IA_IAPI::isInterruptOrSyscall
  parseAPI/src/IA_IAPI.C
Labels: bug, parseAPI

#1691 Remove explicit check for system calls in parse_frame_one_iteration
  parseAPI/src/Parser.C
Labels: code cleanup, parseAPI

#1692 Unify system call detection
  dataflowAPI/src/liveness.C
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.C
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.h
  instructionAPI/CMakeLists.txt
  instructionAPI/h/syscalls.h
  instructionAPI/src/syscalls.C
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_IAPI.h
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_aarch64.h
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_amdgpu.h
  parseAPI/src/IA_power.C
  parseAPI/src/IA_power.h
  parseAPI/src/IA_x86.C
  parseAPI/src/IA_x86.h
  parseAPI/src/Parser.C
Labels: bug, PowerPC, ARMv8, code cleanup, dataflowAPI, parseAPI, instructionAPI, x86_64

#1693 Unify software interrupt instruction detection
  dataflowAPI/src/liveness.C
  instructionAPI/CMakeLists.txt
  instructionAPI/h/interrupts.h
  instructionAPI/src/interrupts.C
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_IAPI.h
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_aarch64.h
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_amdgpu.h
  parseAPI/src/IA_power.C
  parseAPI/src/IA_power.h
  parseAPI/src/IA_x86.C
  parseAPI/src/IA_x86.h
Labels: bug, PowerPC, ARMv8, code cleanup, dataflowAPI, parseAPI, instructionAPI, x86_64

#1694 Github CI: add unit tests
  .github/workflows/unit-tests.yaml
  docker/build.sh
Labels: CI
