Repository dyninst/dyninst, pull requests merged in 2024-03, with the labels that each got.

#1696 Remove bitArray SPEC_*_BIT macros
  dataflowAPI/h/bitArray.h
Labels: code cleanup

#1671 Add CodeObject::parse overloads to accept multiple targets
  parseAPI/h/CodeObject.h
  parseAPI/src/CodeObject.C
  parseAPI/src/Parser.C
  parseAPI/src/Parser.h
Labels: parseAPI, user-reported, performance

#1697 Remove dead byte-swapping code in dyninstAPI codegen
  dyninstAPI/src/codegen-aarch64.C
  dyninstAPI/src/codegen-aarch64.h
  dyninstAPI/src/codegen-power.C
  dyninstAPI/src/codegen-power.h
Labels: PowerPC, ARMv8, code cleanup, dyninstAPI

#1706 GithubCI: use verbose output with ctest
  .github/workflows/pr-tests.yaml
  .github/workflows/unit-tests.yaml
Labels: CI

#1705 Do not kill caller-saved registers when slicing backward
  dataflowAPI/src/slicing.C
Labels: bug, dataflowAPI

#1704 GithubCI: don't run tests for draft PRs
  .github/workflows/pr-tests.yaml
  .github/workflows/unit-tests.yaml
Labels: enhancement, CI

#1702 Fix duplicate base ID in x86_64 GPRs
  common/h/registers/x86_64_regs.h
Labels: bug, x86_64

#1703 MachRegister: Add interface for collecting and retrieving all registers
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
Labels: enhancement

#1709 Fix definition of MachRegister::getAllRegistersForArch
  common/src/registers/MachRegister.C
Labels: bug

#1715 GitHub CI: use stronger error reporting in 'system-libs' action
  .github/workflows/system-libs.yaml
Labels: CI

#1714 GitHub CI: only run tests when source code changes
  .github/workflows/pr-tests.yaml
  .github/workflows/unit-tests.yaml
Labels: CI

#1717 Remove unused annotations
  dyninstAPI/src/BPatch_type.C
  dyninstAPI/src/image.C
  symtabAPI/src/annotations.C
  symtabAPI/src/annotations.h
Labels: code cleanup, Symtab, dyninstAPI

#1718 Remove LivenessAnalyzer::query(ParseAPI::Location,Type,OutputIterator)
  dataflowAPI/h/liveness.h
Labels: bug, ABI-BREAKER, dataflowAPI
