Repository dyninst/dyninst, pull requests merged in 2024-05, with the labels that each got.

#1737 Replace utos with std::to_string
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/freebsd.C
  dyninstAPI/src/linux-x86.C
  dyninstAPI/src/mapped_object.C
  parseAPI/src/LoopAnalyzer.C
Labels: code cleanup

#1739 Remove BPatch_dll.h
  dyninstAPI/CMakeLists.txt
  dyninstAPI/h/BPatch.h
  dyninstAPI/h/BPatch_Set.h
  dyninstAPI/h/BPatch_addressSpace.h
  dyninstAPI/h/BPatch_basicBlock.h
  dyninstAPI/h/BPatch_basicBlockLoop.h
  dyninstAPI/h/BPatch_binaryEdit.h
  dyninstAPI/h/BPatch_dll.h
  dyninstAPI/h/BPatch_edge.h
  dyninstAPI/h/BPatch_flowGraph.h
  dyninstAPI/h/BPatch_function.h
  dyninstAPI/h/BPatch_image.h
  dyninstAPI/h/BPatch_instruction.h
  dyninstAPI/h/BPatch_loopTreeNode.h
  dyninstAPI/h/BPatch_module.h
  dyninstAPI/h/BPatch_object.h
  dyninstAPI/h/BPatch_parRegion.h
  dyninstAPI/h/BPatch_point.h
  dyninstAPI/h/BPatch_process.h
  dyninstAPI/h/BPatch_snippet.h
  dyninstAPI/h/BPatch_sourceBlock.h
  dyninstAPI/h/BPatch_sourceObj.h
  dyninstAPI/h/BPatch_statement.h
  dyninstAPI/h/BPatch_thread.h
  dyninstAPI/h/BPatch_type.h
  dyninstAPI/h/StackMod.h
Labels: code cleanup, dyninstAPI

#1741 Hide ompc_leftmost reducer if not using OpenMP
  symtabAPI/src/dwarfWalker.C
Labels: bug, build

#1742 Fix clang warnings when SW_ANALYSIS_STEPPER=OFF.
  stackwalk/src/callchecker.C
  stackwalk/src/framestepper_pimple.h
Labels: bug, build, clang

#1746 x86: check that opcode supports VEX/EVEX prefix if it is present
  common/src/arch-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1748 x86: correctly detect 3DNow instruction length
  common/src/arch-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1749 x86: handle flag RF
  instructionAPI/src/Operation.C
Labels: bug, instructionAPI, user-reported, x86_64

#1747 x86: only group opcodes from groupMap2 can be VEX-prefixed
  common/src/arch-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1752 x86: support XOP multiply-accumulate instructions
  common/src/arch-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1754 x86: Handle disambiguation between XOP prefix and POP instruction
  common/src/arch-x86.C
Labels: instructionAPI, user-reported, x86_64
