Repository dyninst/dyninst, pull requests merged in 2024-11, with the labels that each got.

#1804 Fix Boost not found error on RHEL 9
  cmake/tpls/DyninstBoost.cmake
Labels: bug, build, CI

#1808 Remove addressSpace::findJumpTargetFuncByAddr
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/addressSpace.h
Labels: code cleanup

#1811 GitHub CI: use c++17 for external-tests
  .github/workflows/pr-tests.yaml
Labels: bug, CI

#1810 Use correct ppc64 register in MachRegister::size()
  common/src/registers/MachRegister.C
Labels: bug, PowerPC, instructionAPI

#1812 Clean up Operand, Operator, and Instruction classes from InstructionAPI
  instructionAPI/doc/API/Instruction.tex
  instructionAPI/doc/API/Operand.tex
  instructionAPI/doc/API/Operation.tex
  instructionAPI/h/Instruction.h
  instructionAPI/h/Operand.h
  instructionAPI/h/Operation_impl.h
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-x86.C
  instructionAPI/src/Operand.C
  instructionAPI/src/Operation.C
Labels: ABI-BREAKER, code cleanup, API-BREAKER, instructionAPI

#1814 Remove mnemonics.ppc
  instructionAPI/capstone/mnemonics.ppc
Labels: PowerPC, code cleanup, instructionAPI

#1813 Add category helpers to Instruction class
  dataflowAPI/src/liveness.C
  dataflowAPI/src/stackanalysis.C
  dyninstAPI/src/BPatch_basicBlock.C
  dyninstAPI/src/Relocation/CFG/RelocBlock.C
  dyninstAPI/src/Relocation/Transformers/Movement-adhoc.C
  dyninstAPI/src/Relocation/Transformers/Movement-analysis.C
  dyninstAPI/src/StackMod/StackAccess.C
  dyninstAPI/src/ast.C
  dyninstAPI/src/hybridInstrumentation.C
  dyninstAPI/src/image.C
  dyninstAPI/src/mapped_object.C
  instructionAPI/h/Instruction.h
  instructionAPI/src/Instruction.C
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_power.C
  parseAPI/src/IA_x86.C
  parseAPI/src/IndirectAnalyzer.C
  parseAPI/src/Parser.C
Labels: enhancement, instructionAPI

#1809 Use correct semantics when constructing AST for return instructions
  instructionAPI/h/Instruction.h
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-aarch64.C
  instructionAPI/src/InstructionDecoder-power.C
  instructionAPI/src/InstructionDecoder-x86.C
Labels: bug, PowerPC, ARMv8, code cleanup, instructionAPI, x86_64

#1815 Add instruction class for software interrupts
  dataflowAPI/src/liveness.C
  instructionAPI/h/Instruction.h
  instructionAPI/h/InstructionCategories.h
  instructionAPI/src/Instruction.C
  parseAPI/src/IA_IAPI.C
Labels: enhancement, instructionAPI

#1817 Clean up, extend, and document Instruction categories
  instructionAPI/doc/API/Instruction.tex
  instructionAPI/h/InstructionCategories.h
  instructionAPI/src/InstructionCategories.C
Labels: enhancement, code cleanup, instructionAPI

#1820 Make InstructionDecoder::doDelayedDecode private
  instructionAPI/h/InstructionDecoder.h
Labels: ABI-BREAKER, code cleanup, API-BREAKER, instructionAPI

#1822 Fix null pointer access in Operand::get{Read,Write}Set
  instructionAPI/src/Operand.C
Labels: bug, instructionAPI

#1821 Clean up InstructionAPI decoder and AST classes
  instructionAPI/doc/API/BinaryFunction.tex
  instructionAPI/doc/API/Dereference.tex
  instructionAPI/doc/API/Expression.tex
  instructionAPI/doc/API/InstructionDecoder.tex
  instructionAPI/doc/API/MultiRegisterAST.tex
  instructionAPI/doc/API/RegisterAST.tex
  instructionAPI/doc/API/TernaryAST.tex
  instructionAPI/doc/API/Visitor.tex
  instructionAPI/h/BinaryFunction.h
  instructionAPI/h/Dereference.h
  instructionAPI/h/Expression.h
  instructionAPI/h/Immediate.h
  instructionAPI/h/InstructionAST.h
  instructionAPI/h/InstructionDecoder.h
  instructionAPI/h/MultiRegister.h
  instructionAPI/h/Register.h
  instructionAPI/h/Ternary.h
  instructionAPI/h/Visitor.h
  instructionAPI/src/BinaryFunction.C
  instructionAPI/src/Expression.C
  instructionAPI/src/Immediate.C
  instructionAPI/src/InstructionAST.C
  instructionAPI/src/InstructionDecoder-aarch64.C
  instructionAPI/src/InstructionDecoder-aarch64.h
  instructionAPI/src/InstructionDecoder-power.C
  instructionAPI/src/InstructionDecoder-power.h
  instructionAPI/src/InstructionDecoder-x86.C
  instructionAPI/src/InstructionDecoder-x86.h
  instructionAPI/src/InstructionDecoder.C
  instructionAPI/src/MultiRegister.C
  instructionAPI/src/Register.C
  instructionAPI/src/Ternary.C
Labels: code cleanup, instructionAPI

#1823 Revert "Import and update ppc64le opcodes from Capstone (#1803)"
  common/h/mnemonics/ppc_entryIDs.h
  common/src/arch-power.h
  dataflowAPI/src/RoseInsnFactory.C
  dataflowAPI/src/convertOpcodes.C
  dyninstAPI/src/BPatch_memoryAccessAdapter.C
  dyninstAPI/src/inst-power.C
  instructionAPI/capstone/import_mnemonics.py
  instructionAPI/capstone/ppc/README.md
  instructionAPI/capstone/ppc/mnemonics.py
  instructionAPI/ppc_manual_parser.pl
  instructionAPI/src/InstructionDecoder-power.C
  instructionAPI/src/power_opcode_tables.C
Labels: bug, PowerPC, instructionAPI
