Repository dyninst/dyninst, pull requests merged in 2024-06, with the labels that each got.

#1744 Fix Race Condition in Parsing Line Map for NVIDIA Binaries
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
Labels: bug, Symtab, GPUs

#1753 x86: support XOP horizontal add/sub instructions
  common/src/arch-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1759 x86: correctly decode 32 and 64 bit arguments of AVX instructions
  common/src/arch-x86.C
  instructionAPI/src/InstructionDecoder-x86.C
Labels: bug, instructionAPI, user-reported, x86_64

#1760 x86: add support for decoding multiple instructions and fix decoding of supported instructions
  common/src/arch-x86.C
Labels: instructionAPI, user-reported, x86_64

#1761 x86: correctly disassemble VMOVDQA/VMODQU instructions variants
  common/src/arch-x86.C
Labels: instructionAPI, user-reported, x86_64
