Repository dyninst/dyninst, pull requests merged in 2024-10, with the labels that each got.

#1788 Warnings fixes for gcc-14 and clang-19
  common/h/Annotatable.h
  stackwalk/src/callchecker.C
  symtabAPI/src/dwarfWalker.C
Labels: bug, build

#1789 remove singleton_object_pool
  common/CMakeLists.txt
  common/src/AST.C
  common/src/pool_allocators.h
  common/src/singleton_object_pool.h
  dataflowAPI/src/Absloc.C
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/RoseInsnFactory.C
  instructionAPI/src/Immediate.C
  instructionAPI/src/Instruction.C
  instructionAPI/src/InstructionDecoder-power.C
  instructionAPI/src/InstructionDecoder-x86.C
  instructionAPI/src/InstructionDecoderImpl.C
  instructionAPI/src/MultiRegister.C
  instructionAPI/src/Operation.C
  instructionAPI/src/Register.C
  instructionAPI/src/Ternary.C
Labels: code cleanup, dataflowAPI, instructionAPI

#1790 Add clang 19 to compile frame size override
  cmake/DyninstWarnings.cmake
Labels: bug, build, clang

#1786 Remove elfutils from public dependencies
  cmake/DyninstConfig.cmake.in
  cmake/DyninstLibrary.cmake
  dwarf/CMakeLists.txt
  dyninstAPI/CMakeLists.txt
  elf/CMakeLists.txt
  stackwalk/CMakeLists.txt
  symtabAPI/CMakeLists.txt
Labels: build, Symtab, DWARF, ELF

#1793 Revamp and extend GitHub CI
  .github/README.md
  .github/actions/build-fedora/action.yaml
  .github/actions/build-types/action.yaml
  .github/actions/build-ubuntu/action.yaml
  .github/actions/build/action.yaml
  .github/actions/os-versions/action.yaml
  .github/scripts/add_spack_package.py
  .github/scripts/compiler_configs.py
  .github/workflows/build-opts.yaml
  .github/workflows/build.yaml
  .github/workflows/cmake-formatting.yaml
  .github/workflows/compiler-multibuild.yaml
  .github/workflows/consumers.yaml
  .github/workflows/dependency-version.yaml
  .github/workflows/dev-containers.yaml
  .github/workflows/libabigail.yaml
  .github/workflows/pr-tests.yaml
  .github/workflows/purge-workflows.yaml
  .github/workflows/refresh-containers.yaml
  .github/workflows/release-containers.yaml
  .github/workflows/spack-build.yaml
  .github/workflows/system-libs.yaml
  .github/workflows/unit-tests.yaml
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.fedora
  docker/Dockerfile.ubuntu
  docker/README.md
  docker/build.sh
  docker/build_base_images.sh
  docker/build_elfutils.sh
Labels: enhancement, build, clang, CI

#1795 Import and update Aarch64 registers from Capstone
  common/h/registers/aarch64_regs.h
  common/h/registers/reg_def.h
  common/src/registers/MachRegister.C
  instructionAPI/aarch64_manual_parser.py
  instructionAPI/aarch64_pseudocode_extractor.py
  instructionAPI/aarch64_sysreg_builder.py
  instructionAPI/capstone/README.md
  instructionAPI/capstone/aarch64/README.md
  instructionAPI/capstone/aarch64/dwarf.py
  instructionAPI/capstone/aarch64/registers.py
  instructionAPI/capstone/aarch64/sysregs.py
  instructionAPI/capstone/import_registers.py
  instructionAPI/src/aarch64_opcode_tables.C
Labels: enhancement, ARMv8, instructionAPI

#1799 GithubCI: Update README
  .github/README.md
Labels: CI

#1800 Check for valid subrange bounds in DwarfWalker::parseSubrange()
  symtabAPI/src/dwarfWalker.C
Labels: bug, DWARF

#1801 GitHubCI: update TAU test
  .github/workflows/consumers.yaml
Labels: CI

#1805 Fix DyninstConfig for Debian multiarch installs
  .github/workflows/pr-tests.yaml
  cmake/DyninstConfig.cmake.in
Labels: bug, build
