Repository dyninst/dyninst, pull requests merged in 2024-04, with the labels that each got.

#1721 improve cmake install dirs
  .github/workflows/consumers.yaml
  .github/workflows/pr-tests.yaml
  .github/workflows/system-libs.yaml
  .github/workflows/unit-tests.yaml
  cmake/DyninstLibrarySettings.cmake
  parseThat/CMakeLists.txt
Labels: build

#1722 fix system-lib github workflow
  .github/workflows/system-libs.yaml
Labels: build, CI

#1724 ignore .hmac files in system-libs github workflow
  .github/workflows/system-libs.yaml
Labels: CI

#1723 Disable -Wdeprecated-declarations for Boost on clang > 17
  cmake/DyninstWarnings.cmake
  cmake/tpls/DyninstBoost.cmake
Labels: build

#1728 Fix AMDGPU register operand expansion
  instructionAPI/src/AMDGPU/gfx908/appendOperands.C
  instructionAPI/src/AMDGPU/gfx90a/appendOperands.C
  instructionAPI/src/AMDGPU/gfx940/appendOperands.C
Labels: bug, instructionAPI, GPUs

#1729 fix hpctoolkit github ci workflow
  .github/workflows/consumers.yaml
Labels: CI

#1727 CMake: update x86 platform detection
  cmake/DyninstPlatform.cmake
Labels: bug, build

#1734 Update Capstone importer scripts
  instructionAPI/capstone/aarch64.py
  instructionAPI/capstone/aarch64/__init__.py
  instructionAPI/capstone/aarch64/mnemonics.py
  instructionAPI/capstone/aarch64/registers.py
  instructionAPI/capstone/capstone.py
  instructionAPI/capstone/import.py
  instructionAPI/capstone/import_mnemonics.py
  instructionAPI/capstone/ppc.py
  instructionAPI/capstone/ppc/__init__.py
  instructionAPI/capstone/ppc/mnemonics.py
  instructionAPI/capstone/ppc/registers.py
  instructionAPI/capstone/x86.py
  instructionAPI/capstone/x86/__init__.py
  instructionAPI/capstone/x86/mnemonics.py
  instructionAPI/capstone/x86/registers.py
Labels: enhancement, instructionAPI
