Repository dyninst/dyninst, pull requests merged in 2025-09, with the labels that each got.

#1991 Add SoftwareException instruction category
  instructionAPI/h/Instruction.h
  instructionAPI/h/InstructionCategories.h
  instructionAPI/src/InstructionCategories.C
  parseAPI/h/InstructionAdapter.h
  parseAPI/src/IA_IAPI.C
  parseAPI/src/IA_IAPI.h
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_amdgpu.h
  parseAPI/src/Parser.C
Labels: ABI-BREAKER, instructionAPI, GPUs, x86_64, dyninstAPI

#1993 Fix EXEC operand for AMDGPU
  instructionAPI/src/AMDGPU/gfx908/finalizeOperands.C
  instructionAPI/src/AMDGPU/gfx90a/finalizeOperands.C
  instructionAPI/src/AMDGPU/gfx940/finalizeOperands.C
Labels: instructionAPI, GPUs, AMDGPU

#1995 Docker: remove Ubuntu 24. Add Ubuntu 25, Fedora 42, 43
  .github/actions/os-versions/action.yaml
  .github/scripts/compiler_configs.py
  .github/workflows/README.md
  .github/workflows/compiler-multibuild.yaml
  .github/workflows/refresh-containers.yaml
  cmake/DyninstWarnings.cmake
  common/h/compiler_diagnostics.h
  docker/README.md
  docker/build_peparse.sh
Labels: build

#2005 [AMDGPU][DataflowAPI] Add missing registers for gfx908
  dataflowAPI/src/ABI.C
  dataflowAPI/src/RegisterMap.C
Labels: dataflowAPI

#2010 Fix unused function warning in x86-emit.C with i386 codegen on x86_64 host
  dyninstAPI/src/emit-x86.C
Labels: code cleanup, dyninstAPI

#2015 Fix unused variable warning in emit-x86 for i386 codegen
  dyninstAPI/src/emit-x86.C
Labels: bug, build, code cleanup, x86_64, dyninstAPI

#2014 Fix unused private variables in AstStackRemoveNode
  dyninstAPI/src/ast.C
Labels: bug, build, code cleanup, dyninstAPI

#2013 Fix cast-align warnings in emitElfStatic
  symtabAPI/src/emitElfStatic-ppc64.C
  symtabAPI/src/emitElfStatic.C
Labels: bug, build, PowerPC, code cleanup, ELF, dyninstAPI

#1831 Add RISC-V instruction mnemonics and registers
  common/CMakeLists.txt
  common/h/Architecture.h
  common/h/dyn_regs.h
  common/h/entryIDs.h
  common/h/mnemonics/riscv64_entryIDs.h
  common/h/registers/riscv64_regs.h
  common/src/registers/MachRegister.C
  dataflowAPI/rose/registers/convert.C
  dataflowAPI/rose/registers/riscv64.h
  dataflowAPI/src/ExpressionConversionVisitor.C
  dwarf/CMakeLists.txt
  dwarf/src/dwarfHandle.C
  dwarf/src/registers/convert.C
  dwarf/src/registers/riscv64.h
  elf/src/Elf_X.C
  external/rose/riscv64InstructionEnum.h
  instructionAPI/capstone/import_mnemonics.py
  instructionAPI/capstone/riscv64/mnemonics.py
  instructionAPI/capstone/riscv64/registers.py
  instructionAPI/src/Instruction.C
  instructionAPI/src/interrupts.C
  instructionAPI/src/syscalls.C
  parseAPI/src/SymbolicExpression.C
  proccontrol/src/process.C
  symtabAPI/src/Object-elf.C
  tests/unit/MachRegister/base_registers/CMakeLists.txt
  tests/unit/MachRegister/base_registers/riscv64.cpp
  tests/unit/MachRegister/type_queries/CMakeLists.txt
  tests/unit/MachRegister/type_queries/riscv64.cpp
  tests/unit/dataflowAPI/rose/registers/CMakeLists.txt
  tests/unit/dataflowAPI/rose/registers/riscv64.cpp
Labels: ABI-BREAKER, Symtab, API-BREAKER, instructionAPI, RISC-V

#2007 GitHub CI: add builds for all codegen architectures
  .github/workflows/codegen-cross-build.yaml
Labels: testing
