Repository dyninst/dyninst, pull requests merged in 2025-01, with the labels that each got.

#1857 Fix MachRegister::isZeroFlag for ppc
  common/src/registers/MachRegister.C
Labels: bug, PowerPC, machine

#1860 Update exception handling in SymbolicExpansion::expand<ARCH>
  dataflowAPI/src/SymbolicExpansion.C
Labels: enhancement, code cleanup, dataflowAPI

#1862 Fix aarch64 flag detection in AbsRegionConverter::convertAll
  dataflowAPI/src/AbslocInterface.C
Labels: bug, ARMv8, dataflowAPI

#1865 Handle all architectures in getSyscallNumberOReg
  common/src/registers/MachRegister.C
Labels: bug, GPUs, machine

#1866 Update aarch64 flag and pstate registers
  common/h/registers/aarch64_regs.h
  common/src/registers/MachRegister.C
  instructionAPI/capstone/aarch64/registers.py
Labels: bug, ARMv8, machine

#1864 Fix base register calculation for ppc
  common/src/registers/MachRegister.C
Labels: bug, PowerPC, machine

#1859 Fix operand fetch in RoseInsnFactory::convert
  dataflowAPI/src/RoseInsnFactory.C
Labels: bug, dataflowAPI

#1861 Add executor for aarch64 return instruction
  dataflowAPI/rose/semantics/DispatcherARM64.C
  dataflowAPI/rose/semantics/DispatcherARM64.h
  dataflowAPI/rose/semantics/Registers.C
Labels: bug, ARMv8, dataflowAPI

#1867 Use correct ppc32/64 base registers in is* checks
  common/src/registers/MachRegister.C
Labels: bug, PowerPC, machine

#1863 Preserve full register in AbsRegionConverter::convert(RegisterAST::Ptr)
  dataflowAPI/src/AbslocInterface.C
Labels: bug, dataflowAPI, machine

#1871 Fix AMDGPU rose to use explicit operands
  dataflowAPI/src/RoseInsnFactory.C
Labels: bug, dataflowAPI

#1873 GithubCI: update build scripts
  .github/actions/build-fedora/action.yaml
  .github/actions/build-ubuntu/action.yaml
  .github/actions/build/action.yaml
  docker/build.sh
Labels: CI

#1870 Add missing invalid mnemonics
  common/h/mnemonics/AMDGPU/gfx908_entryIDs.h
  common/h/mnemonics/AMDGPU/gfx90a_entryIDs.h
  common/h/mnemonics/AMDGPU/gfx940_entryIDs.h
  common/h/mnemonics/IntelGPU/generic_entryIDs.h
  common/h/mnemonics/NVIDIA/generic_entryIDs.h
  instructionAPI/src/Instruction.C
Labels: bug, instructionAPI, GPUs, machine

#1874 Fix MachRegister conversion in getDynamicCallSiteArgs for aarch64
  dyninstAPI/src/inst-aarch64.C
Labels: bug, ARMv8, dyninstAPI, machine

#1876 Add AMDGPU GFX941 and GFX942 as GFX940 arch
  dwarf/src/dwarfHandle.C
  elf/src/Elf_X.C
Labels: DWARF, ELF, AMDGPU

#1880 Update sha1.C: #include <cstdint>
  common/src/sha1.C
Labels: bug, build, user-reported

#1878 Fix PowerPC flag checks in parse_func::calcUsedRegs
  dyninstAPI/src/parse-power.C
Labels: bug, PowerPC, dyninstAPI

#1872 Import unit tests
  .github/workflows/pr-tests.yaml
  CMakeLists.txt
  cmake/DyninstLibrarySettings.cmake
  cmake/DyninstOptions.cmake
  docker/build.sh
  tests/CMakeLists.txt
  tests/MachRegister/CMakeLists.txt
  tests/MachRegister/base_registers/CMakeLists.txt
  tests/MachRegister/base_registers/aarch64.cpp
  tests/MachRegister/base_registers/amdgpu_gfx908.cpp
  tests/MachRegister/base_registers/amdgpu_gfx90a.cpp
  tests/MachRegister/base_registers/amdgpu_gfx940.cpp
  tests/MachRegister/base_registers/basereg_check.h
  tests/MachRegister/base_registers/ppc32.cpp
  tests/MachRegister/base_registers/ppc64.cpp
  tests/MachRegister/base_registers/x86.cpp
  tests/MachRegister/base_registers/x86_64.cpp
  tests/instructionAPI/CMakeLists.txt
  tests/instructionAPI/syscall-x86.cpp
  tests/parseAPI/CMakeLists.txt
  tests/parseAPI/lea-nop-x86.cpp
Labels: CI

#1884 refactor amdgpu register handling
  common/h/registers/AMDGPU/amdgpu_gfx908_regs.h
  common/h/registers/AMDGPU/amdgpu_gfx90a_regs.h
  common/h/registers/AMDGPU/amdgpu_gfx940_regs.h
  dataflowAPI/rose/registers/amdgpu.h
  dataflowAPI/rose/semantics/Registers.C
  dataflowAPI/rose/semantics/SymEvalSemantics.C
  external/rose/amdgpuInstructionEnum.h
Labels: bug, GPUs, user-reported, AMDGPU

#1886 Disable simplifyStack for AMDGPU
  dataflowAPI/src/SymEval.C
Labels: bug, dataflowAPI, GPUs, AMDGPU
