Repository dyninst/dyninst, pull requests merged in 2025-03, with the labels that each got.

#1899 GitHubCI: ignore libclang* in system-libs
  .github/workflows/system-libs.yaml
Labels: bug, clang, CI

#1902 Remove pointer/address hashers in common/util
  common/h/util.h
  common/src/util.C
Labels: code cleanup

#1903 Remove string conversion functions in common/util
  common/h/util.h
  common/src/util.C
Labels: code cleanup

#1904 Deprecate Object::getObjectType()
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  dyninstAPI/src/unix.C
  symtabAPI/h/Symtab.h
  symtabAPI/h/symutil.h
  symtabAPI/src/Module.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
Labels: ABI-BREAKER, code cleanup, Symtab, dyninstAPI

#1907 Add Symtab::isPositionIndependent
  cmake/Modules/DyninstLinkProperties.cmake
  symtabAPI/doc/API/Symtab/Symtab.tex
  symtabAPI/h/Symtab.h
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
  tests/regression/CMakeLists.txt
  tests/regression/symtabAPI/CMakeLists.txt
  tests/regression/symtabAPI/Symtab/CMakeLists.txt
  tests/regression/symtabAPI/Symtab/file_properties/CMakeLists.txt
  tests/regression/symtabAPI/Symtab/file_properties/isExec.cpp
  tests/regression/symtabAPI/Symtab/file_properties/isExecutable.cpp
  tests/regression/symtabAPI/Symtab/file_properties/isPositionIndependent.cpp
  tests/regression/symtabAPI/Symtab/file_properties/isSharedLibrary.cpp
  tests/regression/symtabAPI/Symtab/file_properties/isStaticBinary.cpp
  tests/regression/symtabAPI/Symtab/file_properties/isStripped.cpp
  tests/regression/symtabAPI/Symtab/file_properties/test.cpp
Labels: enhancement, Symtab

#1905 Clean up common/pathName
  common/src/Timer.h
  common/src/addrtranslate-linux.C
  common/src/addrtranslate-sysv.C
  common/src/pathName.C
  common/src/pathName.h
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/freebsd.C
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  dyninstAPI/src/linux-aarch64.C
  dyninstAPI/src/linux-power.C
  dyninstAPI/src/linux-x86.C
  dyninstAPI/src/mapped_module.h
  dyninstAPI/src/unix.C
  dyninstAPI/src/util.h
  proccontrol/src/linux.C
  proccontrol/src/loadLibrary/codegen-freebsd.C
  symtabAPI/h/Archive.h
  symtabAPI/src/Archive.C
  symtabAPI/src/Symtab.C
  tests/unit/CMakeLists.txt
  tests/unit/common/CMakeLists.txt
  tests/unit/common/pathName.cpp
Labels: ABI-BREAKER, code cleanup, API-BREAKER

#1910 Remove unused BPatch statistics
  dyninstAPI/CMakeLists.txt
  dyninstAPI/h/BPatch.h
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/util.C
  dyninstAPI/src/util.h
Labels: code cleanup, BPatch

#1911 Remove platform_string()
  common/h/util.h
  common/src/util.C
Labels: code cleanup

#1917 Move getSymelfCache into SymLite-elf.C
  common/src/util.C
  symlite/src/SymLite-elf.C
Labels: code cleanup

#1916 Add basereg unit tests for aarch64 aliased registers
  tests/unit/MachRegister/base_registers/aarch64.cpp
Labels: ARMv8, testing, machine

#1914 Remove Symtab::main_call_addr_
  symtabAPI/h/Symtab.h
Labels: ABI-BREAKER, code cleanup, Symtab

#1889 Fix ROSE register conversion for PowerPC
  common/src/registers/MachRegister.C
  dataflowAPI/rose/registers/ppc32.h
  dataflowAPI/rose/registers/ppc64.h
  tests/unit/dataflowAPI/rose/registers/CMakeLists.txt
  tests/unit/dataflowAPI/rose/registers/ppc32.cpp
  tests/unit/dataflowAPI/rose/registers/ppc64.cpp
Labels: bug, PowerPC, dataflowAPI, machine

#1918 Correctly test PIE binaries in regression tests
  tests/regression/symtabAPI/Symtab/file_properties/CMakeLists.txt
Labels: testing

#1915 GithubCI: enable unit, integration, and regression tests in PR workflow
  docker/build.sh
Labels: testing

#1919 Move Symtab::mf member into symtab_impl
  symtabAPI/h/Symtab.h
  symtabAPI/src/Symtab.C
  symtabAPI/src/symtab_impl.hpp
Labels: bug, ABI-BREAKER, build, Symtab

#1920 Update and extend list of candidate names for 'main' function
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
Labels: ABI-BREAKER, API-BREAKER, dyninstAPI

#1921 Remove elfutils dependency from dyninstAPI
  dyninstAPI/CMakeLists.txt
  dyninstAPI/src/image.C
Labels: code cleanup, dyninstAPI

#1924 Reduce string copies when using mapped_object::findModule
  dyninstAPI/src/addressSpace.C
  dyninstAPI/src/mapped_object.C
  dyninstAPI/src/mapped_object.h
Labels: ABI-BREAKER, code cleanup, BPatch

#1926 Don't include platform-specific Object headers in Object.h
  dwarf/h/dwarfHandle.h
  symtabAPI/src/Archive-elf.C
  symtabAPI/src/Function.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.C
  symtabAPI/src/Object.h
  symtabAPI/src/emitElf.h
  symtabAPI/src/emitElfStatic-aarch64.C
  symtabAPI/src/emitElfStatic-ppc64.C
  symtabAPI/src/emitElfStatic-x86.C
  symtabAPI/src/parseDwarf.C
Labels: build, code cleanup

#1928 Fix ROSE register size for ppc64 CR registers
  dataflowAPI/rose/registers/ppc64.h
Labels: bug, PowerPC, dataflowAPI

#1927 Rename, namespace pathName functions
  common/CMakeLists.txt
  common/src/MappedFile.C
  common/src/addrtranslate-linux.C
  common/src/addrtranslate-sysv.C
  common/src/dyninst_filesystem.C
  common/src/dyninst_filesystem.h
  dyninstAPI/src/dynProcess.C
  dyninstAPI/src/freebsd.C
  dyninstAPI/src/image.C
  dyninstAPI/src/linux-x86.C
  dyninstAPI/src/unix.C
  proccontrol/src/linux.C
  proccontrol/src/loadLibrary/codegen-freebsd.C
  proccontrol/src/windows_handler.C
  symtabAPI/src/Module.C
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
  symtabAPI/src/dwarfWalker.C
  symtabAPI/src/emitElf.C
  symtabAPI/src/parseDwarf.C
  tests/unit/common/CMakeLists.txt
  tests/unit/common/filesystem.cpp
Labels: ABI-BREAKER, code cleanup, API-BREAKER

#1930 Fix ppc ROSE spr register size
  dataflowAPI/rose/registers/ppc32.h
  dataflowAPI/rose/registers/ppc64.h
Labels: bug, PowerPC, dataflowAPI

#1934 Remove unused variables in BPatch_binaryEdit constructor
  dyninstAPI/src/BPatch_binaryEdit.C
Labels: code cleanup, BPatch

#1932 Remove unnecessary check in BinaryEdit::openFile
  dyninstAPI/src/binaryEdit.C
Labels: code cleanup, dyninstAPI

#1933 Remove binaryEdit::getStatFileDescriptor
  dyninstAPI/src/binaryEdit.C
  dyninstAPI/src/binaryEdit.h
Labels: ABI-BREAKER, code cleanup, API-BREAKER, dyninstAPI

#1931 Clean up and refactor string handling in parts of SymtabAPI and DyninstAPI
  common/src/MappedFile.C
  common/src/MappedFile.h
  dyninstAPI/src/BPatch.C
  dyninstAPI/src/BPatch_binaryEdit.C
  dyninstAPI/src/image.C
  dyninstAPI/src/image.h
  symtabAPI/h/Archive.h
  symtabAPI/h/Collections.h
  symtabAPI/h/Module.h
  symtabAPI/h/Symbol.h
  symtabAPI/h/Symtab.h
  symtabAPI/src/Archive-elf.C
  symtabAPI/src/Archive.C
  symtabAPI/src/Collections.C
  symtabAPI/src/Module.C
  symtabAPI/src/Region.C
  symtabAPI/src/Symbol.C
  symtabAPI/src/Symtab-edit.C
  symtabAPI/src/Symtab-lookup.C
  symtabAPI/src/Symtab.C
Labels: bug, enhancement, ABI-BREAKER, code cleanup, Symtab, API-BREAKER, dyninstAPI

#1908 Initial implementation of PE files parsing
  CMakeLists.txt
  cmake/DyninstOptions.cmake
  cmake/tpls/DyninstPeParse.cmake
  dyninstAPI/CMakeLists.txt
  symtabAPI/CMakeLists.txt
  symtabAPI/src/Object-pe-stub.C
  symtabAPI/src/Object-pe.C
  symtabAPI/src/Object-pe.h
Labels: enhancement, WindowsPE

#1936 Add error checking in image::parseImage
  dyninstAPI/src/image.C
Labels: bug, dyninstAPI

#1935 Parse symbols in PE files
  symtabAPI/src/Object-pe.C
  symtabAPI/src/Object-pe.h
Labels: Symtab, WindowsPE

#1937 Handle relocations in PE files
  symtabAPI/src/Object-pe-stub.C
  symtabAPI/src/Object-pe.C
  symtabAPI/src/Object-pe.h
Labels: enhancement, WindowsPE

#1940 Remove unnecessary copy of 'allowedEdges' in parseAPI::BuildEdgesAux
  parseAPI/src/JumpTableIndexPred.C
Labels: enhancement, ABI-BREAKER, parseAPI, user-reported

#1939 Mark CMake dummy targets as IMPORTED
  cmake/tpls/DyninstElfUtils.cmake
  cmake/tpls/DyninstLibIberty.cmake
  cmake/tpls/DyninstThread_DB.cmake
  cmake/tpls/DyninstThreads.cmake
Labels: bug, build

#1938 Update PeParse cmake handling
  cmake/tpls/DyninstPeParse.cmake
Labels: build, code cleanup

#1942 Fix copying missing constant instruction literal
  instructionAPI/h/Instruction.h
  instructionAPI/src/AMDGPU/gfx908/amdgpu_gfx908_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx90a/amdgpu_gfx90a_decoder_impl.C
  instructionAPI/src/AMDGPU/gfx940/amdgpu_gfx940_decoder_impl.C
  instructionAPI/src/Instruction.C
Labels: bug, instructionAPI, AMDGPU

#1943 Fix possible use of uninitialized value in Result::operator<
  instructionAPI/h/Result.h
Labels: bug, instructionAPI, user-reported
