Repository dyninst/dyninst, pull requests merged in 2025-02, with the labels that each got.

#1855 Add type queries to MachRegister
  common/h/registers/MachRegister.h
  common/src/registers/MachRegister.C
  dataflowAPI/rose/registers/convert.C
  dataflowAPI/src/stackanalysis.C
  dyninstAPI/src/parse-aarch64.C
  instructionAPI/src/InstructionDecoder-x86.C
  proccontrol/src/linux.C
  tests/MachRegister/CMakeLists.txt
  tests/MachRegister/type_queries/CMakeLists.txt
  tests/MachRegister/type_queries/aarch64.cpp
  tests/MachRegister/type_queries/amdgpu_gfx908.cpp
  tests/MachRegister/type_queries/amdgpu_gfx90a.cpp
  tests/MachRegister/type_queries/amdgpu_gfx940.cpp
  tests/MachRegister/type_queries/ppc32.cpp
  tests/MachRegister/type_queries/ppc64.cpp
  tests/MachRegister/type_queries/type_query_check.h
  tests/MachRegister/type_queries/x86.cpp
  tests/MachRegister/type_queries/x86_64.cpp
Labels: enhancement, machine

#1877 Separate usage of aarch64 pstate and nzcv flag registers
  common/src/arch-aarch64.h
  common/src/registers/MachRegister.C
  dataflowAPI/rose/registers/aarch64.h
  dataflowAPI/rose/registers/convert.C
  dataflowAPI/src/AbslocInterface.C
  dataflowAPI/src/RegisterMap.C
  dyninstAPI/src/RegisterConversion-aarch64.C
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/registerSpace.h
  instructionAPI/src/InstructionDecoder-aarch64.C
  proccontrol/src/linux.C
Labels: bug, ARMv8, machine

#1888 Move .github/README.md into .github/workflows/README.md
  .github/workflows/README.md
Labels: documentation

#1853 Fix rose register conversion for x86/x86_64
  dataflowAPI/rose/registers/convert.C
  dataflowAPI/rose/registers/x86.h
  dataflowAPI/rose/registers/x86_64.h
  dataflowAPI/src/ExpressionConversionVisitor.C
  tests/CMakeLists.txt
  tests/dataflowAPI/CMakeLists.txt
  tests/dataflowAPI/rose/CMakeLists.txt
  tests/dataflowAPI/rose/registers/CMakeLists.txt
  tests/dataflowAPI/rose/registers/rose_reg_check.h
  tests/dataflowAPI/rose/registers/x86.cpp
  tests/dataflowAPI/rose/registers/x86_64.cpp
Labels: bug, dataflowAPI, x86_64

#1890 Add ROSE register tests for aarch64
  tests/dataflowAPI/rose/registers/CMakeLists.txt
  tests/dataflowAPI/rose/registers/aarch64.cpp
Labels: ARMv8, machine

#1868 Update base registers for AMDGPU
  common/src/registers/MachRegister.C
  tests/MachRegister/base_registers/CMakeLists.txt
  tests/MachRegister/base_registers/amdgpu_gfx908.cpp
  tests/MachRegister/base_registers/amdgpu_gfx90a.cpp
  tests/MachRegister/base_registers/amdgpu_gfx940.cpp
Labels: enhancement, GPUs

#1893 GithubCI: use spack-provided dyninst when building hpctoolkit
  .github/workflows/consumers.yaml
Labels: bug, CI

#1891 Clean up dyninstAPI codegen/instrumentation files
  common/CMakeLists.txt
  common/src/arch-x86.h
  common/src/arch.h
  dyninstAPI/CMakeLists.txt
  dyninstAPI/h/BPatch_instruction.h
  dyninstAPI/h/BPatch_memoryAccess_NP.h
  dyninstAPI/src/BPatch_addressSpace.C
  dyninstAPI/src/BPatch_binaryEdit.C
  dyninstAPI/src/BPatch_image.C
  dyninstAPI/src/BPatch_instruction.C
  dyninstAPI/src/BPatch_memoryAccess.C
  dyninstAPI/src/BPatch_memoryAccessAdapter.C
  dyninstAPI/src/BPatch_parRegion.C
  dyninstAPI/src/BPatch_point.C
  dyninstAPI/src/BPatch_process.C
  dyninstAPI/src/Relocation/Springboard.C
  dyninstAPI/src/Relocation/Widgets/CFWidget-ppc.C
  dyninstAPI/src/ast.C
  dyninstAPI/src/ast.h
  dyninstAPI/src/baseTramp.C
  dyninstAPI/src/baseTramp.h
  dyninstAPI/src/codegen-aarch64.C
  dyninstAPI/src/codegen-aarch64.h
  dyninstAPI/src/codegen-power.C
  dyninstAPI/src/codegen-power.h
  dyninstAPI/src/codegen-x86.h
  dyninstAPI/src/codegen.h
  dyninstAPI/src/emit-x86.h
  dyninstAPI/src/image.C
  dyninstAPI/src/inst-aarch64.C
  dyninstAPI/src/inst-linux.C
  dyninstAPI/src/inst-power.C
  dyninstAPI/src/inst-winnt.C
  dyninstAPI/src/inst-x86.C
  dyninstAPI/src/inst.C
  dyninstAPI/src/instP.h
  dyninstAPI/src/instPoint.C
  dyninstAPI/src/instPoint.h
  dyninstAPI/src/legacy-instruction.h
  dyninstAPI/src/parRegion.h
  dyninstAPI/src/parse-aarch64.C
  dyninstAPI/src/parse-cfg.h
  dyninstAPI/src/parse-power.C
  dyninstAPI/src/pdwinnt.C
  dyninstAPI/src/registerSpace.C
  parseAPI/src/IA_aarch64.C
  parseAPI/src/IA_amdgpu.C
  parseAPI/src/IA_power.C
  parseAPI/src/InstructionAdapter.C
  parseAPI/src/Parser-speculative.C
  proccontrol/src/loadLibrary/codegen-aarch64.C
Labels: ABI-BREAKER, code cleanup, API-BREAKER, dyninstAPI

#1895 Fix ROSE expansion of aarch64 ldp, ldurs instructions
  dataflowAPI/rose/semantics/DispatcherARM64.C
Labels: ARMv8, dataflowAPI

#1758 Refactroing of AObject class
  symtabAPI/h/Function.h
  symtabAPI/h/Region.h
  symtabAPI/h/Symbol.h
  symtabAPI/h/Symtab.h
  symtabAPI/src/Function.C
  symtabAPI/src/Object-elf.C
  symtabAPI/src/Object-elf.h
  symtabAPI/src/Object.C
  symtabAPI/src/Object.h
  symtabAPI/src/Symtab.C
  symtabAPI/src/emitElf.C
  symtabAPI/src/emitElf.h
  symtabAPI/src/parseDwarf.C
Labels: enhancement, Symtab, user-reported, ELF
